/* Reset */
html, body{background:transparent; color:#000;}
.btn{border-color:transparent;}


/* Hamburger */
.hamburger > *{background:#414243;}


/* Topnav */
nav.topnav{background:#fff; border-color:#ebebeb;}
nav.topnav .logo{color:#393939;}
nav.topnav .top-menu{background:#ebebeb;}
nav.topnav .top-menu > .option p{color:#393939;}
nav.topnav .top-menu > .option .btn{background:#fff; color:#000;}
nav.topnav .top-menu > .option .btn[data-theme="0"]{background:#fff; color:#47484d;}
nav.topnav .top-menu > .option .btn[data-theme="1"]{background:#010101; color:#fff;}
nav.topnav .top-menu > .option .btn[data-theme="2"]{background:#010101; color:#ffff00;}
nav.topnav .top-menu > .menu-option{color:#fff; background:#1d684a; background:var(--color2);}
nav.topnav .top-menu > .menu-option:hover{color:#c0ca67; color:var(--color1);}

nav.topnav .menu > a{background:#fff; color:#000; border-color:#ebebeb;}
nav.topnav .menu:hover > a, nav.topnav .menu.active > a{color:#fff;}
nav.topnav .menu.icon-menu:last-child > a{border-color:#ebebeb;}

nav.topnav .menu > a::before{background-image:linear-gradient(to right, #47484d, #403f44);}
nav.topnav .menu:nth-child(5n+2) > a::before{
    background-image:linear-gradient(to right, #0d838d, #8ad0ce);
}
nav.topnav .menu:nth-child(5n+3) > a::before{
    background-image:linear-gradient(to right, #284e51, #2e8260);
}
nav.topnav .menu:nth-child(5n+4) > a::before{
    background-image:linear-gradient(to right, #c0ca67, #cad765);
}
nav.topnav .menu:nth-child(5n) > a::before{
    background-image:linear-gradient(to right, #d7d8d0, #9a9b95);
}

nav.topnav .menu > a::after{background:#4d4e52;}
nav.topnav .menu:nth-child(5n+2) > a::after{background:#0d838d; background:var(--color4);}
nav.topnav .menu:nth-child(5n+3) > a::after{background:#284e51; background:var(--color3);}
nav.topnav .menu:nth-child(5n+4) > a::after{background:#c0ca67; background:var(--color1);}
nav.topnav .menu:nth-child(5n) > a::after{background:#d7d8d0; background:var(--color5);}

nav.topnav .ui.fluid.dropdown.active, nav.topnav .ui.selection.active.dropdown .menu{
    border-color:#47484d; border-color:var(--color0);
}
nav.topnav .ui.fluid.dropdown > .text, nav.topnav .ui.fluid.dropdown .item{color:#909090;}

nav.topnav .submenu-container .hero h2{color:#fff;}
nav.topnav .submenu-container .hero p{color:#fff;}

nav.topnav .submenus::after{background:#fff;}

nav.topnav .submenu > a{color:#fff;}
nav.topnav .submenu > a::after{background:#fff;}
nav.topnav .submenu.has-children > a::before{color:#fff;}

nav.topnav .submenu .child > a{color:#fff;}
nav.topnav .submenu .child > a::after{background:#fff;}

nav.topnav .menu .submenus{background:#1d684a; background:var(--color2);}
nav.topnav .menu .submenu:hover > a{background:#0d838d; background:var(--color4);}
nav.topnav .menu .submenu .childs{background:#0d838d; background:var(--color4);}
nav.topnav .menu .child:hover > a{background:#c0ca67; background:var(--color1);}

nav.topnav .mobile-menu .sidenav-btn{border-color:#ebebeb;}
nav.topnav .mobile-menu .sidenav-btn:hover .hamburger > *{background:#47484d; background:var(--color0);}


/* Sidenav */
nav.sidenav{background:#fff;}
nav.sidenav .sidenav-btn{border-color:#ebebeb;}
nav.sidenav .sidenav-btn:hover .hamburger > *{background:#47484d; background:var(--color0);}
nav.sidenav .scroll-wrapper{border-color:#ebebeb;}

nav.sidenav .menu > a{color:#000; border-color:#ebebeb;}
nav.sidenav .menu:hover > a{color:#47484d; color:var(--color0);}
nav.sidenav .menu > .dropdown-toggle{color:#363636;}
nav.sidenav .menu:hover > .dropdown-toggle > i{color:#47484d; color:var(--color0);}
nav.sidenav .menu.has-children > a::after{background:#ebebeb;}

nav.sidenav .submenu > a{background:#54afaa; color:#fff; border-color:rgba(255,255,255,.25);}
nav.sidenav .submenu:hover > a{background:#2b848c;}
nav.sidenav .submenu > .dropdown-toggle{color:#fff;}
nav.sidenav .submenu.has-children > a::after{background:rgba(255,255,255,.25);}

nav.sidenav .submenu .child > a{background:#2b848c; color:#fff; border-color:rgba(255,255,255,.25);}
nav.sidenav .submenu .child:hover > a{background:#47484d;}


/* Footer */
nav.footer{background:#284e51; background:var(--color3); color:#fff;}
nav.footer a{color:#fff;}
nav.footer a:hover{color:#c0ca67; color:var(--color1);}
nav.footer .top-footer, nav.footer .top-footer .content{border-color:rgba(255,255,255,.25);}
nav.footer .top-footer .content::after{background:#fff;}
nav.footer .content .socials a{border-color:#fff;}
nav.footer .content .socials a:hover{background:#fff; color:#284e51; color:var(--color3);}


/* Tab */
.tab-container .tabs::before{background:#bfbfbf;}
.tab-container .tab{border-color:#bfbfbf; color:#363636;}
.tab-container .tab.active{border-color:#bfbfbf; background:#fff;}
.tab-container .tab .icon{color:#fff; background:#1d684a; background:var(--color2);}
.tab-container .tab:nth-child(6n+2) .icon{background:#0d838d; background:var(--color4);}
.tab-container .tab:nth-child(6n+3) .icon{background:#c0ca67; background:var(--color1);}
.tab-container .tab:nth-child(6n+4) .icon{background:#d7d8d0; background:var(--color5);}
.tab-container .tab:nth-child(6n+5) .icon{background:#47484d; background:var(--color0);}
.tab-container .tab:nth-child(6n) .icon{background:#284e51; background:var(--color3);}
@media screen and (min-width:768px){
    .tab-container .tab{
        border-top-color:transparent; border-bottom-color:transparent;
        border-right-color:transparent;
    }
    .tab-container .tab.active + .tab{border-left-color:transparent;}
    .tab-container .tab:first-child:not(.active){border-left-color:transparent;}
}


/* Special Header */
.ss-header{color:#363636;}
.ss-header > .ss{background-image:linear-gradient(to bottom, #c0ca67, #1d684a);}


/* Banner 01 */
.banner-01 .dots{background:rgba(0,0,0,.3);}
.banner-01 .dots li:first-child::after, .banner-01 .dots li:last-child::after, .banner-01 .dots button{
    background:#fff;
}
.banner-01 .dots button:before{color:#c0ca67; color:var(--color1);}
.banner-01 h1, .banner-01 h2, .banner-01 h3{color:#fff;}
.banner-01 .line{background:#fff;}


/* Content 01 */
.content-01 .content .banner > .icon{color:#fff;}
.content-01 .content .banner > .order{color:#fff;}
.content-01 .content:nth-child(8n+1) .banner,
.content-01 .content:nth-child(8n+1) .text-container::before{background:#ab7ba3;}
.content-01 .content:nth-child(8n+2) .banner,
.content-01 .content:nth-child(8n+2) .text-container::before{background:#707fa0;}
.content-01 .content:nth-child(8n+3) .banner,
.content-01 .content:nth-child(8n+3) .text-container::before{background:#4d4e52;}
.content-01 .content:nth-child(8n+4) .banner,
.content-01 .content:nth-child(8n+4) .text-container::before{background:#1f9faa;}
.content-01 .content:nth-child(8n+5) .banner,
.content-01 .content:nth-child(8n+5) .text-container::before{background:#2c9f76;}
.content-01 .content:nth-child(8n+6) .banner,
.content-01 .content:nth-child(8n+6) .text-container::before{background:#b9d252;}
.content-01 .content:nth-child(8n+7) .banner,
.content-01 .content:nth-child(8n+7) .text-container::before{background:#c84557;}
.content-01 .content:nth-child(8n) .banner,
.content-01 .content:nth-child(8n) .text-container::before{background:#febc42;}
.content-01 .content .text-container{color:#393939;}
.content-01 .content:hover .text-container h1{color:#fff;}
.content-01 .content .text-container::after{background:#e1e1e2;}
