/* Reset */
html, body{background:#000; color:#fff;}
.btn{border-color:#fff;}


/* Hamburger */
.hamburger > *{background:#414243;}


/* Topnav */
nav.topnav{background:#000; border-color:#fff;}
nav.topnav .logo{color:#fff;}
nav.topnav .top-menu{background:#000;}
nav.topnav .top-menu > .option p{color:#fff;}
nav.topnav .top-menu > .option .btn{background:#fff; color:#000;}
nav.topnav .top-menu > .option .btn[data-theme="0"]{background:#fff; color:#5abbb7;}
nav.topnav .top-menu > .option .btn[data-theme="1"]{background:#010101; color:#fff;}
nav.topnav .top-menu > .option .btn[data-theme="2"]{background:#010101; color:#ffff00;}
nav.topnav .top-menu > .menu-option{color:#fff; background:#000;}

nav.topnav .menu > a{background:#000; color:#fff;}
nav.topnav .menu > a::after{background:#fff;}

nav.topnav .ui.fluid.dropdown.active, nav.topnav .ui.selection.active.dropdown .menu{border-color:#fff;}
nav.topnav .ui.fluid.dropdown > .text, nav.topnav .ui.fluid.dropdown .item{color:#000;}

nav.topnav .submenu-container .hero h2{color:#fff;}
nav.topnav .submenu-container .hero p{color:#fff;}

nav.topnav .submenus::after{background:#fff;}

nav.topnav .submenu > a{color:#fff;}
nav.topnav .submenu > a::after{background:#fff;}
nav.topnav .submenu.has-children > a::before{color:#fff;}

nav.topnav .submenu .child > a{color:#fff;}
nav.topnav .submenu .child > a::after{background:#fff;}
nav.topnav .submenu.has-children:hover > a::before{color:#000;}

nav.topnav .menu .submenus{background:#000;}
nav.topnav .menu .submenu:hover > a{background:#fff; color:#000;}
nav.topnav .menu .submenu .childs{background:#000; color:#fff;}
nav.topnav .menu .child:hover > a{background:#fff; color:#000;}

nav.topnav .mobile-menu .sidenav-btn .hamburger > *{background:#fff;}


/* Sidenav */
nav.sidenav{background:#000;}
nav.sidenav .sidenav-btn{border-color:#fff;}
nav.sidenav .sidenav-btn .hamburger > *{background:#fff;}
nav.sidenav .scroll-wrapper{border-color:#fff;;}

nav.sidenav .menu > a{color:#fff; border-color:#fff;;}
nav.sidenav .menu:hover > a{color:#000; background:#fff;}
nav.sidenav .menu > .dropdown-toggle{color:#fff;}
nav.sidenav .menu:hover > .dropdown-toggle > i{color:#000;}
nav.sidenav .menu.has-children > a::after{background:#fff;}

nav.sidenav .submenu > a{background:#000; color:#fff; border-color:#fff;;}
nav.sidenav .submenu:hover > a{background:#fff; color:#000;}
nav.sidenav .submenu > .dropdown-toggle{color:#fff;}
nav.sidenav .submenu:hover > .dropdown-toggle{color:#000;}
nav.sidenav .submenu.has-children > a::after{background:#fff;;}

nav.sidenav .submenu .child > a{background:#000; color:#fff; border-color:#fff;;}
nav.sidenav .submenu .child:hover > a{background:#fff; color:#000;}


/* Footer */
nav.footer{background:#000; border-color:#fff;}
nav.footer a{color:#fff;}
nav.footer .top-footer, nav.footer .top-footer .content{border-color:#fff;}
nav.footer .top-footer .content::after{background:#fff;}
nav.footer .content .socials a{border-color:#fff;}
nav.footer .content .socials a:hover{background:#fff; color:#000;}


/* Tab */
.tab-container .tabs::before{background:#fff;}
.tab-container .tab{border-color:#fff; color:#fff;}
.tab-container .tab.active{border-color:#fff; background:#000;}
.tab-container .tab .icon{color:#000; background:#fff;}
@media screen and (min-width:768px){
    .tab-container .tab{
        border-top-color:transparent; border-bottom-color:transparent;
        border-right-color:transparent;
    }
    .tab-container .tab.active + .tab{border-left-color:transparent;}
    .tab-container .tab:first-child:not(.active){border-left-color:transparent;}
}


/* Special Header */
.ss-header{color:#fff;}
.ss-header > .ss{color:#fff!important;}


/* Banner 01 */
.banner-01 .dots{background:#000;}
.banner-01 .dots li:first-child::after, .banner-01 .dots li:last-child::after, .banner-01 .dots button{
    background:#fff;
}
.banner-01 .dots button:before{color:#fff;}
.banner-01 h1, .banner-01 h2, .banner-01 h3{color:#fff;}
.banner-01 .line{background:#fff;}


/* Content 01 */
.content-01 .content .banner > .icon{color:#fff;}
.content-01 .content .banner > .order{color:#fff;}
.content-01 .content .banner,
.content-01 .content .text-container::before{background:#000;}
.content-01 .content .text-container{color:#fff;}
.content-01 .content:hover .text-container h1{color:#fff;}
