/* Reset */
html, body{background:#000; color:#ffff00;}
.btn{border-color:#ffff00;}


/* Buttons */
.btn.btn-primary{color:#000; background:#ffff00;}
.btn.btn-primary.prev-icon::before, .btn.btn-primary.next-icon::after{color:#000;}
.btn.btn-secondary{color:#000; background:#ffff00;}
.btn.btn-secondary.prev-icon::before, .btn.btn-secondary.next-icon::after{color:#000;}
.btn.btn-success{color:#000; background:#ffff00;}
.btn.btn-success.prev-icon::before, .btn.btn-success.next-icon::after{color:#000;}

.btn.btn-icon{color:#ffff00;}
.btn.btn-icon > i{background:#ffff00; color:#000;}

.btn.btn-icon-alert, .btn.btn-icon-download{color:#ffff00;}
.btn.btn-icon-alert::before{background:#ce0400; color:#ffff00;}
.btn.btn-icon-download::before{background:#284e51; background:var(--color3); color:#fff;}

.btn.btn-back{color:#ffff00;}
.btn.btn-back::before{color:#ffff00; border-color:#ffff00;}
.btn.btn-back:hover::before{color:#000; background:#ffff00;}


/* Fields & Inputs */
.field label{color:#ffff00;}
.field .control.checkbox-control > label::before,
.field .control.radio-control > label::before{border-color:#ffff00;}
.field .control.checkbox-control > input[type=checkbox]:checked + label::before,
.field .control.radio-control > input[type=radio]:checked + label::before{border-color:#ffff00;}
.field .control.checkbox-control > label::after,
.field .control.radio-control > label::after{background:transparent;}
.field .control.checkbox-control > input[type=checkbox]:checked + label::after,
.field .control.radio-control > input[type=radio]:checked + label::after{background:#ffff00;}


/* Hamburger */
.hamburger > *{background:#414243;}


/* Breadcrumb */
.breadcrumb a{color:#ffff00;}
.breadcrumb .breadcrumb-container{background:#000; border-color:#ffff00;}
.breadcrumb a:hover, .breadcrumb a:last-child{color:#ffff00;}


/* Colors */
.color-white{color:#ffff00!important;}
.color-black{color:#ffff00!important;}
.bg-white{background:#ffff00!important;}
.bg-black{background:#ffff00!important;}

.bg-gradient-04{background:transparent; border-top:1px solid #ffff00;}


/* Topnav */
nav.topnav{background:#000; border-color:#ffff00;}
nav.topnav .logo{color:#ffff00;}
nav.topnav .top-menu{background:#000;}
nav.topnav .top-menu > .option p{color:#ffff00;}
nav.topnav .top-menu > .option .btn{background:#fff; color:#000;}
nav.topnav .top-menu > .option .btn[data-theme="0"]{background:#fff; color:#1d684a;}
nav.topnav .top-menu > .option .btn[data-theme="1"]{background:#010101; color:#fff;}
nav.topnav .top-menu > .option .btn[data-theme="2"]{background:#010101; color:#ffff00;}
nav.topnav .top-menu > .menu-option{color:#ffff00; background:#000;}

nav.topnav .menu > a{background:#000; color:#ffff00;}
nav.topnav .menu > a::after{background:#ffff00;}

nav.topnav .ui.fluid.dropdown.active, nav.topnav .ui.selection.active.dropdown .menu{border-color:#ffff00;}
nav.topnav .ui.fluid.dropdown > .text, nav.topnav .ui.fluid.dropdown .item{color:#000;}

nav.topnav .submenu-container .hero h2{color:#ffff00;}
nav.topnav .submenu-container .hero p{color:#ffff00;}

nav.topnav .submenus::after{background:#ffff00;}

nav.topnav .submenu > a{color:#ffff00;}
nav.topnav .submenu > a::after{background:#ffff00;}
nav.topnav .submenu.has-children > a::before{color:#ffff00;}

nav.topnav .submenu .child > a{color:#ffff00;}
nav.topnav .submenu .child > a::after{background:#ffff00;}
nav.topnav .submenu.has-children:hover > a::before{color:#000;}

nav.topnav .menu .submenus{background:#000;}
nav.topnav .menu .submenu:hover > a{background:#ffff00; color:#000;}
nav.topnav .menu .submenu .childs{background:#000; color:#ffff00;}
nav.topnav .menu .child:hover > a{background:#ffff00; color:#000;}

nav.topnav .mobile-menu .sidenav-btn .hamburger > *{background:#ffff00;}


/* Sidenav */
nav.sidenav{background:#000;}
nav.sidenav .sidenav-btn{border-color:#ffff00;}
nav.sidenav .sidenav-btn .hamburger > *{background:#ffff00;}
nav.sidenav .options > .option, nav.sidenav .scroll-wrapper{border-color:#ffff00;}
nav.sidenav .option > .dropdown{background:#000;}
nav.sidenav .option > .dropdown > *{border-color:#ffff00!important;}
nav.sidenav .option [data-theme="0"]{background:#fff; color:#1d684a;}
nav.sidenav .option [data-theme="1"]{background:#010101; color:#fff;}
nav.sidenav .option [data-theme="2"]{background:#010101; color:#ffff00;}
nav.sidenav .option > .icon{color:#ffff00;}

nav.sidenav .menu > a{color:#ffff00; border-color:#ffff00;;}
nav.sidenav .menu:hover > a{color:#000; background:#ffff00;}
nav.sidenav .menu > .dropdown-toggle{color:#ffff00;}
nav.sidenav .menu:hover > .dropdown-toggle > i{color:#000;}
nav.sidenav .menu.has-children > a::after{background:#ffff00;}

nav.sidenav .submenu > a{background:#000; color:#ffff00; border-color:#ffff00;;}
nav.sidenav .submenu:hover > a{background:#ffff00; color:#000;}
nav.sidenav .submenu > .dropdown-toggle{color:#ffff00;}
nav.sidenav .submenu:hover > .dropdown-toggle{color:#000;}
nav.sidenav .submenu.has-children > a::after{background:#ffff00;;}

nav.sidenav .submenu .child > a{background:#000; color:#ffff00; border-color:#ffff00;;}
nav.sidenav .submenu .child:hover > a{background:#ffff00; color:#000;}


/* Footer */
nav.footer{background:#000; border-color:#ffff00;}
nav.footer a{color:#ffff00;}
nav.footer .top-footer, nav.footer .top-footer .content{border-color:#ffff00;}
nav.footer .top-footer .content::after{background:#ffff00;}
nav.footer .content .socials a{border-color:#ffff00;}
nav.footer .content .socials a:hover{background:#ffff00; color:#000;}
nav.footer p, nav.footer h1{color:#ffff00;}


/* Back to Top */
.back-to-top{color:#ffff00; background:rgba(0,0,0,.5); border-color:#ffff00;}

/* Global Search */
.global-search-container .hamburger > *{background:#ffff00;}
.global-search-container input[type=text]{color:#ffff00; border-color:#ffff00; background:#000;}
.global-search-container button{color:#ffff00;}


/* Border */
.border-top, .border-bottom{border-color:#ffff00;}


/* Bullet */
.bullet::before{background:#ffff00;}


/* Calendar */
.calendar-container{background:#000; border-color:#ffff00!important;}
.calendar-container .calendar header .month{color:#ffff00;}
.calendar-container .calendar header .month .year{color:#ffff00;}
.calendar-container .calendar header .simple-calendar-btn{color:#ffff00;}
.calendar-container .calendar table{border-color:#ffff00;}
.calendar-container .calendar thead td{color:#ffff00;}
.calendar-container .calendar .day{color:#ffff00;}
.calendar-container .calendar .day.today{color:#000; background:#ffff00;}
.calendar-container .calendar .day.has-event{color:#000; background:#ffff00;}
.calendar-container .calendar .event-container,
.calendar-container .calendar .filler{background:#000;}
.calendar-container .calendar .event-container .event{color:#000; background:#ffff00;}


/* Card Register */
.card-register{border-color:#ffff00; background:transparent;}


/* Info Stat */
.info-stat, .info-stat > .block, .info-stat .inline-icon{border-color:#ffff00;}


/* Popup Container */
.popup-container .popup-box{background:#000; border:1px solid #ffff00;}


/* Question */
.question-container > .num{color:#000; background:#ffff00;}
.question-container > .answers{border-color:#ffff00;}


/* Table */
table.table td{color:#ffff00; border-color:#ffff00!important;}
table.table .icon.icon-download, table.table .icon.icon-dot{color:#000; background:#ffff00;}
table.table.about-table td:nth-child(3){border-color:#ffff00;}
table.table.info-table thead th{color:#000; background:#ffff00;}
table.table.info-table tbody td{border-color:#ffff00; color:#ffff00;}


/* Tab */
.tab-container .tabs::before{background:#ffff00;}
.tab-container .tab{border-color:#ffff00; color:#ffff00;}
.tab-container .tab.active{border-color:#ffff00; background:#000;}
.tab-container .tab .icon{color:#000; background:#ffff00;}
@media screen and (min-width:768px){
    .tab-container .tab{
        border-top-color:transparent; border-bottom-color:transparent;
        border-right-color:transparent;
    }
    .tab-container .tab.active + .tab{border-left-color:transparent;}
    .tab-container .tab:first-child:not(.active){border-left-color:transparent;}
}


/* Pagination */
.pagination{border-color:#ffff00!important;}
.pagination .page-btn{color:#ffff00;}
.pagination .page-btn:hover, .pagination .page-btn.active{color:#000; background:#ffff00;}
.pagination .page-btn.page-first, .pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-last{color:#ffff00; border-color:#ffff00;}
.pagination .page-btn:hover::before, .pagination .page-btn:hover::after{color:#000;}


/* Slots */
.slots .header-text{color:#ffff00;}
.slots .header-text.quote-text::before, .slots .header-text.quote-text::after{color:#ffff00;}
.slots .slot-tab{border-color:rgba(255,255,0,.4)!important;}
.slots .slot-tab:hover, .slots .slot-tab.active{background:#c0ca67; background:var(--color1);}


/* Toggle Box */
.toggle-box > .toggle-title::after{
    color:#ffff00; background:rgba(0,0,0,.5); border-color:#ffff00;
}


/* Special & Typography */
.ss-date{color:#ffff00;}
h1, .ss-h1, h2, .ss-h2, h3, .ss-h3, h4, .ss-h4, h4, .ss-h5{color:#ffff00;}
h6, .ss-h6, p, .ss-p{color:#ffff00;}

/* Special Quote */
.ss-quote{color:#ffff00;}

/* Special List */
.ss-list{color:#ffff00;}
.ss-list > li:before{background:#ffff00;}

/* Special Banner */
.ss-banner{background-image:linear-gradient(to right, #000, rgba(255,255,255,0));}
.ss-banner.to-left{background-image:linear-gradient(to left, #000, rgba(255,255,255,0));}
.ss-banner *{color:#ffff00; text-decoration:none; margin:0;}
.ss-banner::before, .ss-banner::after{
    background-image:linear-gradient(to right, #000, #ffff00, rgba(255,255,255,0));
}
.ss-banner.to-left::before, .ss-banner.to-left::after{
    background-image:linear-gradient(to left, #000, #ffff00, rgba(255,255,255,0));
}
.ss-banner ul li{border-color:#ffff00;}
@media screen and (max-width:767.98px){
    .ss-banner, .ss-banner.to-left{
        background-image:linear-gradient(to right, rgba(255,255,255,0), #000, 
            #000, rgba(255,255,255,0));
    }
    .ss-banner::before, .ss-banner::after, .ss-banner.to-left::before, .ss-banner.to-left::after{
        background-image:linear-gradient(to right, rgba(255,255,255,0), #000, #ffff00,
        #ffff00, #000, rgba(255,255,255,0));
    }
}


/* Special Header */
.ss-header, .ss-header > h1{color:#ffff00;}
.ss-header > .ss{color:#ffff00!important;}
.ss-header.color-white, .ss-header.color-white > .ss, .ss-header.color-white > h1,
.ss-header.color-white > p{color:#ffff00;}
.ss-header.color-white-info, .ss-header.color-white-info > h1,
.ss-header.color-white-info > p{color:#ffff00;}

/* Special Icon Text */
.ss-icon-title .icon{color:#000; background:#ffff00;}


/* Special Image & Video */
.ss-img .tag, .ss-video .tag{
    color:#ffff00; background:linear-gradient(to right, #000, rgba(255,255,255,0));
}
.ss-img .tag::before, .ss-img .tag::after, .ss-video .tag::before, .ss-video .tag::after{
    background:linear-gradient(to right, #000, #000, rgba(255,255,255,0));
}
.ss-video .play-icon, .ss-img .content .play-icon{
    border-color:#ffff00; color:#ffff00; background:rgba(0,0,0,.6);
}

/* Special iFrame */
.ss-iframe{border-color:#ffff00;}

/* Special Side Menu */
.ss-side-menu .menu .text-container > *{color:#000;}
.ss-side-menu .menu .text-container.color-white > *{color:#ffff00;}
.ss-side-menu .menu .text-container.color-black > *{color:#000;}


/* Special Carousel */
.ss-carousel > .dots li{background:transparent; border-color:#ffff00;}
.ss-carousel > .dots li.slick-active{background:#ffff00;}


/* Special Box */
.ss-box{border:1px solid #ffff00;}
/* Special Box */
.ss-box-2{border-color:#ffff00;}


/* Special Tags */
.ss-tags > .ss-tag{color:#000; background:#ffff00;}


/* General */
.shadow-box{background:#000; border:1px solid #ffff00;}


/* List Header */
.list-header{border-color:#ffff00;}
.list-header > .block{color:#ffff00;}
.list-header select, .list-header input[type=text]{background:#ffff00; color:#000;}
.list-header button[type=submit]{color:#000; background:#ffff00;}
.list-header .options > a{color:#000; background:#ffff00;}

/* List Footer */
.list-footer{border-color:#ffff00;}
.list-footer > .block{color:#ffff00;}
.list-footer select{background:#ffff00; color:#000;}

/* Content Stat */
.content-stat{border-color:#ffff00;}
.content-stat > .block{color:#ffff00;}
.content-stat .icon{color:#000; background:#ffff00;}
.content-stat .icon.icon-share:hover{background:#c0ca67; background:var(--color1);}


/* Banner 01 */
.banner-01{border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;}
.banner-01 .dots{background:#000;}
.banner-01 .dots li:first-child::after, .banner-01 .dots li:last-child::after, .banner-01 .dots button{
    background:#ffff00;
}
.banner-01 .dots button:before{color:#ffff00;}
.banner-01 h1, .banner-01 h2, .banner-01 h3{color:#ffff00;}
.banner-01 .line{background:#ffff00;}

/* Banner 02 */
.banner-02 .preview-container .arrows > .prev, .banner-02 .preview-container .arrows > .next{
    color:#000; background:#ffff00;
}
.banner-02 .slides-nav .slide.slick-current::after{
    background:rgba(255,255,0,.3); border-color:#ffff00;
}

/* Banner 03 */
.banner-03 .dots li{background:#fff;}
.banner-03 .dots li.slick-active{background:#ffff00;}


/* Content 01 */
.content-01 .content .text-container::after{background:#ffff00;}
.content-01 .content .order, .content-01 .content:hover .order, .content-01 .content h6,
.content-01 .content .banner{color:#ffff00;}
.content-01 .content:nth-child(8n+1) .banner{background:#96ac40;}
.content-01 .content:nth-child(8n+2) .banner{background:#ecd150;}
.content-01 .content:nth-child(8n+3) .banner{background:#5b8bb1;}
.content-01 .content:nth-child(8n+4) .banner{background:#58c8bc;}
.content-01 .content:nth-child(8n+5) .banner{background:#fe9a42;}
.content-01 .content:nth-child(8n+6) .banner{background:#d0505d;}
.content-01 .content:nth-child(8n+7) .banner{background:#f0c195;}
.content-01 .content:nth-child(8n) .banner{background:#0d838d;}
@media screen and (max-width:767.98px){
    .content-01 .content .order{color:#fff!important;}
    .content-01 .content h6, .content-01 .content:hover p{color:#fff;}
}

/* Content 02 */
.content-02{border-bottom:1px solid #ffff00;}
.content-02 .content{background:#000;}
.content-02 .content:nth-child(2){border-color:#ffff00;}
.content-02 .question-container .ss-header{border-color:#ffff00;}
.content-02 .question-body{color:#ffff00;}
.content-02 .question-body .field label{color:#ffff00;}
.content-02 .question-body .field .control.radio-control > label::before{border-color:#ffff00;}
.content-02 .question-body .field .control.radio-control > input[type=radio]:checked + label::before{
    border-color:#ffff00;
}
.content-02 .question-body .field .control.radio-control > label::after{background:transparent;}
.content-02 .question-body .field .control.radio-control > input[type=radio]:checked + label::after{
    background:#ffff00;
}
.content-02 .info-card, .content-02 .info-card + .btns{border-color:#ffff00;}


/* Call to Action 01 */
.call-01{background:none!important; border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;}
.call-01 p{color:#ffff00;}
.call-01 h3{color:#ffff00;}

/* Call to Action 02 */
.call-02{border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;}
.call-02 .ss-h5{color:#ffff00;}
.call-02 .hamburger > *{background:#ffff00;}
.call-02 h5{color:#ffff00;}


/* Client 01 */
.client-01{border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;}
.client-01 .client{color:#ffff00;}


/* Column 01 */
.column-01 .dot, .column-01 .line, .column-01 .map li::before{
    background:#0d838d; background:var(--color4);
}
.column-01 .map::before{background:#e7e7e7;}
.column-01 .map a{color:#000;}
.column-01 .map > a:hover{color:#fff; background:#0d838d; background:var(--color4);}
.column-01 li:hover > a{color:#0d838d; color:var(--color4);}


/* Contact 01 */
.contact-01 .contact-box{background:#000; border:1px solid #ffff00;}
.contact-01 .contact-tabs, .contact-01 .contact-tab{border-color:#ffff00;}
.contact-01 .contact-box .sep::before, .contact-01 .contact-box .sep::after{background:#ffff00;}


/* FAQ 01 */
.faq-01 .faq{border-color:#ffff00;}
.faq-01 .icon{color:#000; background:#ffff00;}


/* Chat Container */
.chat-container > .chat-body{border:1px solid #ffff00;}
.chat-container .chat .text{border-color:#ffff00; color:#ffff00; background:#000;}
.chat-container .chat .text::before{background:#000; border-color:#ffff00!important;}
.chat-container .chat .info{color:#ffff00;}
.chat-container .chat .info > .icon{color:#ffff00;}
