/* Reset */
html, body{background:#000; color:#ffff00;}
.btn{border-color:#ffff00;}


/* Buttons */
.btn.btn-primary{color:#000; background:#ffff00;}
.btn.btn-primary.prev-icon::before, .btn.btn-primary.next-icon::after{color:#000;}
.btn.btn-secondary{color:#000; background:#ffff00;}
.btn.btn-secondary.prev-icon::before, .btn.btn-secondary.next-icon::after{color:#000;}


/* Fields & Inputs */
.field label{color:#ffff00;}
.field > .control.checkbox-control > label::before,
.field > .control.radio-control > label::before{border-color:#ffff00;}
.field > .control.checkbox-control > input[type=checkbox]:checked + label::before,
.field > .control.radio-control > input[type=radio]:checked + label::before{border-color:#ffff00;}
.field > .control.checkbox-control > label::after,
.field > .control.radio-control > label::after{background:transparent;}
.field > .control.checkbox-control > input[type=checkbox]:checked + label::after,
.field > .control.radio-control > input[type=radio]:checked + label::after{background:#ffff00;}


/* Hamburger */
.hamburger > *{background:#414243;}


/* Topnav */
nav.topnav{background:#000; border-color:#ffff00;}
nav.topnav .logo{color:#ffff00;}
nav.topnav .top-menu{background:#000;}
nav.topnav .top-menu > .option p{color:#ffff00;}
nav.topnav .top-menu > .option .btn{background:#fff; color:#000;}
nav.topnav .top-menu > .option .btn[data-theme="0"]{background:#fff; color:#1d684a;}
nav.topnav .top-menu > .option .btn[data-theme="1"]{background:#010101; color:#fff;}
nav.topnav .top-menu > .option .btn[data-theme="2"]{background:#010101; color:#ffff00;}
nav.topnav .top-menu > .menu-option{color:#ffff00; background:#000;}

nav.topnav .menu > a{background:#000; color:#ffff00;}
nav.topnav .menu > a::after{background:#ffff00;}

nav.topnav .ui.fluid.dropdown.active, nav.topnav .ui.selection.active.dropdown .menu{border-color:#ffff00;}
nav.topnav .ui.fluid.dropdown > .text, nav.topnav .ui.fluid.dropdown .item{color:#000;}

nav.topnav .submenu-container .hero h2{color:#ffff00;}
nav.topnav .submenu-container .hero p{color:#ffff00;}

nav.topnav .submenus::after{background:#ffff00;}

nav.topnav .submenu > a{color:#ffff00;}
nav.topnav .submenu > a::after{background:#ffff00;}
nav.topnav .submenu.has-children > a::before{color:#ffff00;}

nav.topnav .submenu .child > a{color:#ffff00;}
nav.topnav .submenu .child > a::after{background:#ffff00;}
nav.topnav .submenu.has-children:hover > a::before{color:#000;}

nav.topnav .menu .submenus{background:#000;}
nav.topnav .menu .submenu:hover > a{background:#ffff00; color:#000;}
nav.topnav .menu .submenu .childs{background:#000; color:#ffff00;}
nav.topnav .menu .child:hover > a{background:#ffff00; color:#000;}

nav.topnav .mobile-menu .sidenav-btn .hamburger > *{background:#ffff00;}


/* Sidenav */
nav.sidenav{background:#000;}
nav.sidenav .sidenav-btn{border-color:#ffff00;}
nav.sidenav .sidenav-btn .hamburger > *{background:#ffff00;}
nav.sidenav .scroll-wrapper{border-color:#ffff00;;}

nav.sidenav .menu > a{color:#ffff00; border-color:#ffff00;;}
nav.sidenav .menu:hover > a{color:#000; background:#ffff00;}
nav.sidenav .menu > .dropdown-toggle{color:#ffff00;}
nav.sidenav .menu:hover > .dropdown-toggle > i{color:#000;}
nav.sidenav .menu.has-children > a::after{background:#ffff00;}

nav.sidenav .submenu > a{background:#000; color:#ffff00; border-color:#ffff00;;}
nav.sidenav .submenu:hover > a{background:#ffff00; color:#000;}
nav.sidenav .submenu > .dropdown-toggle{color:#ffff00;}
nav.sidenav .submenu:hover > .dropdown-toggle{color:#000;}
nav.sidenav .submenu.has-children > a::after{background:#ffff00;;}

nav.sidenav .submenu .child > a{background:#000; color:#ffff00; border-color:#ffff00;;}
nav.sidenav .submenu .child:hover > a{background:#ffff00; color:#000;}


/* Footer */
nav.footer{background:#000; border-color:#ffff00;}
nav.footer a{color:#ffff00;}
nav.footer .top-footer, nav.footer .top-footer .content{border-color:#ffff00;}
nav.footer .top-footer .content::after{background:#ffff00;}
nav.footer .content .socials a{border-color:#ffff00;}
nav.footer .content .socials a:hover{background:#ffff00; color:#000;}
nav.footer p, nav.footer h1{color:#ffff00;}


/* Calendar */
.calendar-container{background:#000; border-color:#ffff00!important;}
.calendar-container .calendar header .month{color:#ffff00;}
.calendar-container .calendar header .month .year{color:#ffff00;}
.calendar-container .calendar header .simple-calendar-btn{color:#ffff00;}
.calendar-container .calendar table{border-color:#ffff00;}
.calendar-container .calendar thead td{color:#ffff00;}
.calendar-container .calendar .day{color:#ffff00;}
.calendar-container .calendar .day.today{color:#000; background:#ffff00;}
.calendar-container .calendar .day.has-event{color:#000; background:#ffff00;}
.calendar-container .calendar .event-container,
.calendar-container .calendar .filler{background:#000;}
.calendar-container .calendar .event-container .event{color:#000; background:#ffff00;}


/* Tab */
.tab-container .tabs::before{background:#ffff00;}
.tab-container .tab{border-color:#ffff00; color:#ffff00;}
.tab-container .tab.active{border-color:#ffff00; background:#000;}
.tab-container .tab .icon{color:#000; background:#ffff00;}
@media screen and (min-width:768px){
    .tab-container .tab{
        border-top-color:transparent; border-bottom-color:transparent;
        border-right-color:transparent;
    }
    .tab-container .tab.active + .tab{border-left-color:transparent;}
    .tab-container .tab:first-child:not(.active){border-left-color:transparent;}
}


/* Pagination */
.pagination{border-color:#ffff00!important;}
.pagination .page-btn{color:#ffff00;}
.pagination .page-btn:hover, .pagination .page-btn.active{color:#000; background:#ffff00;}
.pagination .page-btn.page-first, .pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-last{color:#ffff00; border-color:#ffff00;}
.pagination .page-btn:hover::before, .pagination .page-btn:hover::after{color:#000;}


/* Special & Typography */
.ss-date{color:#ffff00;}
h1, .ss-h1, h2, .ss-h2, h3, .ss-h3, h4, .ss-h4, h4, .ss-h5{color:#ffff00;}
p, .ss-p{color:#ffff00;}

/* Special Header */
.ss-header, .ss-header > h1{color:#ffff00;}
.ss-header > .ss{color:#ffff00!important;}

/* Special Image */
.ss-img .tag{color:#ffff00; background:linear-gradient(to right, #000, rgba(255,255,255,0));}
.ss-img .tag::before, .ss-img .tag::after{
    background:linear-gradient(to right, #000, #000, rgba(255,255,255,0));
}

/* Special Tags */
.ss-tags > .ss-tag{color:#000; background:#ffff00;}


/* Banner 01 */
.banner-01 .dots{background:#000;}
.banner-01 .dots li:first-child::after, .banner-01 .dots li:last-child::after, .banner-01 .dots button{
    background:#ffff00;
}
.banner-01 .dots button:before{color:#ffff00;}
.banner-01 h1, .banner-01 h2, .banner-01 h3{color:#ffff00;}
.banner-01 .line{background:#ffff00;}


/* Content 01 */
.content-01 .content .banner > .icon{color:#ffff00;}
.content-01 .content .banner > .order{color:#ffff00;}
.content-01 .content .banner,
.content-01 .content .text-container::before{background:#000;}
.content-01 .content .text-container{color:#ffff00;}
.content-01 .content:hover .text-container h1{color:#ffff00;}
