
/* Banner 01 */
.banner-01{position:relative; width:100%;}
.banner-01 > .slide-container{position:relative; width:100%;}
.banner-01 .slide{
    height:450px; 
    /* height:calc(100vh - 180px);  */
    display:flex; align-items:center; text-align:center; line-height:1;
    background-size:cover; background-position:center; background-repeat:no-repeat; padding:0 0 3rem 0;
}
.banner-01 h1{font-size:4.5rem; font-weight:600; margin:0; letter-spacing:.875rem; line-height:.75;}
.banner-01 h2{font-size:3.25rem; font-weight:100; margin:0; letter-spacing:.0625rem;}
.banner-01 h3{font-size:2.125rem; font-weight:300; margin:.5rem 0 0 0;}
.banner-01 .dots{
    position:absolute; bottom:0; left:0; right:0; display:flex; align-items:center; 
    justify-content:center; padding:.25rem 0; overflow:hidden;
}
.banner-01 .dots > .slick-dots{
    display:flex; position:relative; margin:0; padding:0; list-style:none; counter-reset:banner01;
    align-items:center;
}
.banner-01 .dots li{position:relative; display:block; margin:0 auto; padding:0 .575rem;}
.banner-01 .dots li:first-child::after, .banner-01 .dots li:last-child::after{
    content:''; position:absolute; top:calc(50% - .5px); height:1px; width:100vh;
}
.banner-01 .dots li:first-child::after{right:calc(100% - .625rem);}
.banner-01 .dots li.slick-active:first-child::after{right:calc(100% + .5rem);}
.banner-01 .dots li:last-child::after{left:calc(100% - .625rem);}
.banner-01 .dots li.slick-active:last-child::after{left:calc(100% + .5rem);}
.banner-01 .dots button{
    display:block; font-size:0; border:0; box-shadow:none; width:.375rem; height:.375rem;
    border-radius:50%; cursor:pointer; padding:0; margin:0 auto;
}
.banner-01 .dots li.slick-active > button{
    width:auto; height:auto; background:transparent; border-radius:0;
}
.banner-01 .dots button:before{
    counter-increment:banner01; content: counter(banner01, decimal-leading-zero);
    font-size:0; font-family:'DB Ozone X'; font-weight:400; line-height:1;
}
.banner-01 .dots li.slick-active > button::before{font-size:2.5rem;}
@media screen and (max-width:1199.98px){
    /* .banner-01 .slide{height:calc(100vh - 210px);} */
    .banner-01 .line{display:inline-block; height:1.5px; width:5rem;}
    .banner-01 .dots{padding:1rem 1.375rem;}
    .banner-01 .dots li.slick-active > button::before{font-size:2.375rem;}
}
@media screen and (max-width:991.98px){
    .banner-01 .slide{height:440px;}
    .banner-01 h1{font-size:3.875rem; letter-spacing:.75rem;}
    .banner-01 h2{font-size:3.125rem; letter-spacing:.0625rem;}
    .banner-01 h3{font-size:1.875rem; margin:.4375rem 0 0 0;}
    .banner-01 .dots{padding:.5rem 1.125rem;}
    .banner-01 .dots li.slick-active > button::before{font-size:2.25rem;}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide{height:400px;}
    .banner-01 h1{font-size:3.125rem; letter-spacing:.575rem;}
    .banner-01 h2{font-size:3rem; letter-spacing:0;}
    .banner-01 h3{font-size:1.5rem; margin:.4375rem 0 0 0;}
    .banner-01 .line{width:4rem;}
    .banner-01 .dots{padding:.5rem .875rem;}
    .banner-01 .dots li.slick-active > button::before{font-size:2.125rem;}
}

.banner-01 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:opacity .75s, transform .75s;
}
.banner-01 .slide.slick-active .animate{
    opacity:1; transform:translateY(0); transition-delay:var(--delay);
}
.loading .banner-01 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}

.banner-01 .line{display:inline-block; height:1.5px; width:0; transition:width 2s;}
.banner-01 .slide.slick-active .line{width:5.5rem; transition-delay:var(--delay);}
.loading .banner-01 .slide .line{width:0!important;}

.banner-01.img-only .slide{height:auto!important; padding:0!important;}
.banner-01.img-only .slide > img{display:block; width:100%; height:auto;}


/* Banner 02 */
.banner-02{position:relative; width:100%;}
.banner-02 .slide-container{position:relative; width:100%;}
.banner-02 .preview-container{
    display:block; position:relative; width:100%; overflow:hidden; border-radius:.625rem;
}
.banner-02 .preview-container .slide{position:relative; width:100%; padding:0; margin:0;}
.banner-02 .preview-container .arrows{
    position:absolute; display:flex; justify-content:space-between; align-items:center;
    top:0; bottom:0; left:0; right:0; padding:0 .5rem; pointer-events:none;
}
.banner-02 .preview-container .arrows > .prev, .banner-02 .preview-container .arrows > .next{
    display:block; width:2.5rem; height:2.5rem; pointer-events:auto; cursor:pointer; opacity:0;
    text-align:center; line-height:2.75rem; font-size:1.125rem;
    transition:opacity .3s, transform .3s; 
}
.banner-02 .preview-container .arrows > .prev{transform:translateX(-.625rem);}
.banner-02 .preview-container .arrows > .next{transform:translateX(.625rem);}
.banner-02 .preview-container:hover .arrows > .prev, .banner-02 .preview-container:hover .arrows > .next{
    opacity:.8; transform:translateX(0);
}
.banner-02 .preview-container .arrows > .prev:hover, .banner-02 .preview-container .arrows > .next:hover{
    opacity:1;
}
.banner-02 .slides-nav{
    margin:1rem 0 0 0; display:block; position:relative; width:100%; overflow:hidden; 
    -webkit-mask-image:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), 
        rgba(0,0,0,1), rgba(0,0,0,0));
}  
.banner-02 .slides-nav .slide{position:relative; width:100%; padding:0; margin:0; cursor:pointer;}
.banner-02 .slides-nav .slide > .img-bg{
    width:calc(100% - .625rem); padding:calc(100% - .625rem) 0 0 0; background-position:center;
    background-size:cover; background-repeat:no-repeat; margin:0 .3125rem; border-radius:.625rem;
}
.banner-02 .slides-nav .slide::after{
    content:''; position:absolute; top:0; bottom:0; left:.25rem; right:.25rem; cursor:pointer;
    border-radius:.625rem; border:2px solid transparent; z-index:1; opacity:0;
    transition:opacity .3s;
}
.banner-02 .slides-nav .slide.slick-current::after{opacity:1;}
.banner-02 .slides-nav .slide:last-child{display:none;}

/* Banner 03 */
.banner-03{position:relative; width:100%; height:auto;}
.banner-03 .slide-container, .banner-03 .slides{position:relative; }
.banner-03 .dots{
    position:relative; display:flex; justify-content:center; align-items:center; 
    padding:1.25rem 0; overflow:hidden;
}
.banner-03 .dots > .slick-dots{
    display:flex; position:relative; margin:0; padding:0; list-style:none; align-items:center;
}
.banner-03 .dots > .slick-dots button{display:none;}
.banner-03 .dots li{
    position:relative; display:block; width:.75rem; height:.75rem; margin:0 .25rem; cursor:pointer;
    border-radius:.125rem; opacity:.4; transition:background .3s, opacity .3s;
}
.banner-03 .dots li.slick-active{opacity:1;}
@media screen and (max-width:767.98px){
    .banner-03 .dots{padding:1rem 0;}
}


/* Content 01 */
.content-01{
    position:relative; width:100%; box-shadow:rgba(58,45,45,.25) 0px 8px 16px;
    margin:0 0 3.3125rem 0; overflow:visible;
}
.content-01 .contents{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
.content-01 .content{width:calc(100% / 8); display:block; text-decoration:none;}
.content-01 .content > .wrapper{width:100%; position:relative;}

.content-01 .content .order{
    position:absolute; top:.75rem; left:calc(50% - .41875rem); font-size:1.125rem; font-weight:300;
    line-height:1; transition:color .3s, top .3s, left .3s, font-size .3s;
}
.content-01 .content:hover .order{top:.25rem; left:.625rem; font-size:2.375rem;}

.content-01 .content .text-container{position:relative; padding:1.0625rem .25rem; text-align:center;}
.content-01 .content .text-container::after{
    content:''; position:absolute; top:.625rem; bottom:.625rem; right:-.5px; width:1px;
    transition:background .3s;
}
.content-01 .content:hover .text-container::after{background:transparent!important;}
.content-01 .content:last-child .text-container::after{display:none;}
.content-01 .content h6{
    margin:.9375rem 0 0 0; font-size:1.125rem; font-weight:300; z-index:2; transition:color .3s;
}
.content-01 .content:hover p{color:transparent;}
.content-01 .content .text-container::before{
    content:''; position:absolute; top:0; bottom:100%; left:0; right:0; z-index:1; transition:bottom .3s;
}
.content-01 .content:hover .text-container::before{bottom:0;}

.content-01 .content .banner{
    position:absolute; top:100%; bottom:-3.3125rem; left:0; right:0; padding:0;
    display:flex; align-items:center; justify-content:center; font-size:1.5rem;
    transition:top .3s, font-size .3s, padding-top .3s;
}
.content-01 .content:first-child .banner{border-radius:0 0 0 1.125rem;}
.content-01 .content:last-child .banner{border-radius:0 0 1.125rem 0;}
.content-01 .content:hover .banner{top:0; font-size:2.625rem; padding-top:1.875rem;}

@media screen and (max-width:991.98px){
    .content-01 .content .text-container{padding:1.0625rem .125rem;}
    .content-01 .content h6{font-size:1rem;}
}
@media screen and (max-width:767.98px){
    .content-01{box-shadow:none; margin:0; padding:1.5rem 0 .5rem 0;}
    .content-01 .content{width:calc((100% - .9375rem) / 4); margin:.15625rem 0;}
    .content-01 .content .order{
        top:.375rem!important; left:.375rem!important; font-size:1.1875rem!important; z-index:2;
    }
    .content-01 .content .text-container{padding:65% 1rem 20% 1rem; z-index:2;}
    .content-01 .content .text-container::after{background:transparent!important;}
    .content-01 .content h6{font-size:1.25rem; margin:0;}
    .content-01 .content .banner{
        top:0!important; bottom:0!important; font-size:2.75rem!important; z-index:1;
        padding:0 0 20% 0!important;
    }
    .content-01 .content:first-child .banner{border-radius:0;}
    .content-01 .content:last-child .banner{border-radius:0;}
}
@media screen and (max-width:575.98px){
    .content-01{padding:1rem 0 .5rem 0;}
    .content-01 .content{width:calc((100% - .3125rem) / 2); margin:.15625rem 0;}
    .content-01 .content .order{font-size:1.375rem!important;}
}

/* Content 02 */
.content-02 .contents{width:100%; display:flex; flex-wrap:wrap;}
.content-02 .content{width:calc(100% / 3); display:block; position:relative;}
.content-02 .content:nth-child(2){border-left:1px solid transparent; border-right:1px solid transparent;}
.content-02 .question-container{padding:0;}
.content-02 .question-container .ss-header{
    padding:1rem 1.5rem 2rem 1.5rem; margin:.875rem 0 0 0; border-bottom:1px solid transparent;
}
.content-02 .question-body{padding:1rem 1.5rem 2rem 1.5rem;}
.content-02 .question{font-size:1.4375rem; font-weight:300;}
.content-02 .answers{padding:.5rem 0;}
.content-02 .info-card{padding:1rem 1.5rem 0 1.5rem; border-bottom:1px solid transparent;}
.content-02 .info-card + .btns{border-bottom:1px solid transparent; margin:0; padding:.875rem 0;}
@media screen and (max-width:991.98px){
    .content-02 .content{width:50%;}
    .content-02 .content:nth-child(2){border-right:0; border-bottom:1px solid transparent;}
    .content-02 .content:nth-child(3){width:100%;}
}
@media screen and (max-width:575.98px){
    .content-02 .content{width:100%;}
    .content-02 .content:nth-child(2){border-left:0;}
}

/* Content 03 */
.content-03{background-size:cover; background-position:center; background-repeat:no-repeat;}
.content-03 .grids{position:relative;}
@media screen and (min-width:992px){
    .content-03 .grids{justify-content:space-evenly;}
}
@media screen and (min-width:768px){
    .content-03 .grids::after{
        content:''; position:absolute; top:0; bottom:0; left:calc(50% - .5px); width:1px;
        background:rgba(255,255,255,.5);
    }
    .content-03 .grid{margin:0;}
}


/* Call to Action 01 */
.call-01 .contents{width:100%; display:flex; justify-content:center; align-items:center;}
.call-01 .text-container{padding:2rem .625rem 2rem 0;}
.call-01 h3, .call-01 p{margin:0; text-align:right;}
.call-01 .ss-header{padding:0 0 0 6rem; margin:.375rem 0 0 0;}
.call-01 .hero{
    display:block; height:15rem; width:auto; margin:auto 0 0 0;
    transform-origin:bottom left; transform:scale(1.07);
}
@media screen and (max-width:991.98px){
    .call-01 .hero{height:12rem; transform:scale(1);}
}
@media screen and (max-width:767.98px){
    .call-01 .ss-header{padding:0; text-align:right;}
    .call-01 .ss-header > .ss{color:#0d838d; color:var(--color4);}
}
@media screen and (max-width:575.98px){
    .call-01 .contents{flex-wrap:wrap;}
    .call-01 .text-container{width:100%;}
    .call-01 .text-container > *{text-align:center;}
}

/* Call to Action 02 */
.call-02{padding:.75rem 0;}
.call-02 .contents{
    width:100%; display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;
}
.call-02 .content{padding:.5625rem 0;}
.call-02 .menu{position:relative; display:flex; align-items:center;}
.call-02 .hamburger{transform:scale(.6);}
.call-02 h5{margin:0 0 0 .75rem;}
@media screen and (max-width:767.98px){
    .call-02 .contents{justify-content:center;}
}


/* Client 01 */
.client-01{padding:1.75rem 0;}
.client-01 .clients{width:100%; display:flex; justify-content:space-evenly; flex-wrap:wrap;}
.client-01 .client{
    width:calc((100% - 5rem) / 6); display:block; margin:.8125rem 0; text-decoration:none;
    text-align:center; transition:opacity .3s;
}
.client-01 .client:hover{opacity:.75;}
.client-01 .client img{display:block; width:100%; height:auto; border-radius:.375rem;}
.client-01 .client .name{font-size:1.125rem; margin:.75rem 0 0 0; font-weight:300;}
@media screen and (max-width:991.98px){
    .client-01 .client{width:calc((100% - 3rem) / 3);}
}
@media screen and (max-width:767.98px){
    .client-01 .client{width:calc((100% - 2.25rem) / 3); margin:.75rem 0;}
}
@media screen and (max-width:575.98px){
    .client-01 .client{width:calc((100% - 1.5rem) / 2); margin:.75rem 0;}
}


/* About 01 */
.about-01{
    background-size:cover; background-position:center; background-repeat:no-repeat; overflow:hidden;
}
.about-01 > .container{position:relative;}
.about-01 .ss-header{margin:2rem 0 0 0;}
.about-01 .contents{display:flex; justify-content:center; align-items:flex-end; width:100%; height:32rem;}
.about-01 .content{position:relative;}
.about-01 .content .text-container{padding:2rem 0; transform:translateX(4.25rem);}
.about-01 .content .ss-banner{padding-right:5rem;}
.about-01 .content .hero{position:relative; display:block; width:auto; height:32rem; margin:0 7rem 0 0;}
.about-01 .content .box-img{
    display:block; width:18rem; height:auto; position:absolute; top:0; left:calc(100% - 12rem);
}
.about-01 .team-selectors{
    display:flex; justify-content:space-evenly; align-items:flex-end; flex-wrap:wrap; width:28rem;
    position:absolute; margin:.5rem 0 0 0;
}
.about-01 .team-selector{width:calc((100% - 6rem) / 4); cursor:pointer;}
.about-01 .team-selector > img{
    display:block; width:100%; height:auto; transition:transform .3s, opacity .3s;
}
.about-01 .team-selectors:hover .team-selector > img{opacity:.6;}
.about-01 .team-selectors .team-selector:hover > img{transform:scale(1.1); opacity:1;}
.about-01 .team-selector.root{width:100%;}
.about-01 .team-selector.root > img{width:calc((100% - 6rem) / 4 + 1.25rem); margin:0 auto .5rem auto;}
@media screen and (max-width:991.98px){
    .about-01 .contents{height:29rem;}
    .about-01 .content .hero{height:29rem; margin:0;}
    .about-01 .content .box-img{display:none;}
    .about-01 .team-selectors{width:22rem;}
    .about-01 .team-selector{width:calc((100% - 3rem) / 4);}
    .about-01 .team-selector.root > img{width:calc((100% - 3rem) / 4 + 1.25rem); margin:0 auto;}
}
@media screen and (max-width:767.98px){
    .about-01{padding:2rem 0 0 0;}
    .about-01 .contents{flex-wrap:wrap; height:35.5rem;}
    .about-01 .content{width:100%;}
    .about-01 .content .text-container{padding:1.25rem 0; transform:translateX(0);}
    .about-01 .content .hero{height:24rem; margin:0 auto;}
    .about-01 .team-selectors{position:relative; width:20rem; margin:.5rem auto 1rem auto;}
}
.about-01-target{transition:opacity .45s, transform .45s;}
.about-01-target.out, .about-01-target.in{opacity:0; transform:translateX(10rem);}
.about-01-target:not(.active){display:none!important;}

/* About 02 */
.about-02{clear:both; width:100%; position:relative; background:#fff;}
.about-02 .ss-header{position:absolute; top:2rem; width:100%;}
.about-02 .banner-top, .about-02 .banner-bottom{display:block; width:100%; height:auto;}
.about-02 .icon, .about-02 .border{display:block; width:100%; height:auto; margin:0 auto;}
.about-02 .icon{position:relative; max-width:12rem; margin-top:-6rem;}
.about-02 .border{max-width:20rem; margin-top:1rem;}
.about-02 h2{color:#c49742;}
.about-02 p.desc{width:100%; max-width:32rem; margin:1rem auto 1.25rem auto;}
@media screen and (max-width:991.98px){
    .about-02 .banner-top, .about-02 .banner-bottom{
        width:calc(100% + 40rem); transform:translateX(-20rem);
    }
    .about-02 .ss-header{display:none;}
    .about-02 .icon{max-width:11rem; margin-top:-5rem;}
}


/* Column 01 */
.column-01{position:relative; padding:1rem 0 0 .625rem;}
.column-01 .dot{position:absolute; width:.375rem; height:.375rem; top:0; left:-.375rem;}
.column-01 .line{position:absolute; width:.0625rem; height:100%; top:0; left:0;}
.column-01 .maps{position:relative; width:100%;}
.column-01 .map{position:relative; font-size:1.25rem; font-weight:300;}
.column-01 .map > a{
    display:block; padding:.5rem 1rem; transition:color .3s, background .3s;
}
.column-01 .map ul{list-style:none; padding:0 0 0 1.75rem; margin:.25rem 1rem 1rem 1rem;}
.column-01 .map li{position:relative; padding:.25rem 0;}
.column-01 .map li::before{
    content: ''; position:absolute; width:.3125rem; height:.3125rem; top:.75rem; left:-1rem;
    transition:color .3s;
}
.column-01 .map::before{
    content:''; position:absolute; top:0; left:1rem; right:1rem; height:.0625rem;
}
.column-01 .map:nth-child(3)::before{display:none;}
.column-01 .map a{text-decoration:none;}


/* Contact 01 */
.contact-01{
    background-position:center; background-size:cover; background-repeat:no-repeat;
    padding-bottom:20rem;
}
.contact-01 .contact-box{
    padding:2rem; border-radius:.3125rem;
    -webkit-box-shadow:0px 5px 20px 0px rgba(0,0,0,.2);
    -moz-box-shadow:0px 5px 20px 0px rgba(0,0,0,.2);
    box-shadow:0px 5px 20px 0px rgba(0,0,0,.2);
}
.contact-01 .contact-box .sep{width:100%; margin:1.5rem 0; position:relative;}
.contact-01 .contact-box .sep::before, .contact-01 .contact-box .sep::after{
    content:''; position:absolute; top:50%; height:1px;
}
.contact-01 .contact-box .sep::before{left:0; right:calc(50% + 2rem);}
.contact-01 .contact-box .sep::after{left:calc(50% + 2rem); right:0;}
.contact-01 table{width:100%; margin:.5rem 0 0 0;}
.contact-01 table td{font-size:1.3125rem; font-weight:300; padding:.1875rem 0;} 
.contact-01 table td:first-child{vertical-align:top; font-weight:400; padding-right:1.5rem;}
.contact-01 .contact-tabs{
    width:100%; display:flex; flex-wrap:wrap; margin:1rem 0 0 0; padding:.5rem 0 0 0;
    border-top:1px solid transparent;
}
.contact-01 .contact-tab{
    width:50%; padding:.625rem 0; display:flex; align-items:center;
}
.contact-01 .contact-tab.full-width{width:100%;}
.contact-01 .contact-tab .icon{
    display:inline-block; width:2.5rem; height:2.5rem; line-height:2.6875rem; border-radius:50%;
    text-align:center; margin:0 .5rem 0 0;
}
.contact-tabs .text-container{width:calc(100% - 3rem);}
.contact-tabs h5{line-height:1;}
.contact-01 .map-container{
    position:relative; width:100%; margin:1rem 0 0 0; border-radius:.625rem;
    overflow:hidden; padding:60% 0 0 0;
}
.contact-01 .map-container > .map-wrapper{position:absolute; top:0; bottom:0; left:0; right:0;}
.contact-01 .map-wrapper > *{display:block; width:100%; height:100%;}
@media screen and (max-width:575.98px){
    .contact-01 .contact-box{padding:1.5rem 1rem;}
    .contact-01 .contact-tabs{flex-wrap:wrap; padding:.5rem 0;}
    .contact-01 .contact-tab{width:100%; padding:.5rem 0!important; border:0!important;}
}


/* FAQ 01 */
.faq-01{width:100%;}
.faq-01 .faq{width:100%; padding:0; border-bottom:1px solid transparent;}
.faq-01 .faq:last-child{border-bottom:0;}
.faq-01 .question{
    width:100%; position:relative; display:flex; padding:1.25rem 1.75rem 1.25rem 0;
    cursor:pointer;
}
.faq-01 .question *{margin:0;}
.faq-01 .question::after{
    content:'\f078'; font-family:'Font Awesome 5 Free'; font-weight:900;
    position:absolute; top:2.125rem; right:0; font-size:.8125rem; transition:transform .3s;
}
.faq-01 .question.active::after{transform:rotate(180deg);}
.faq-01 .icon{
    display:inline-block; width:2.5rem; height:2.5rem; border-radius:.25rem; text-align:center;
    line-height:2.75rem; font-size:1.75rem; font-weight:400; margin:0 .75rem 0 0;
}
.faq-01 .question h4{padding:.5rem 0 0 0; width:calc(100% - 3.25rem); transition:color .3s;}
.faq-01 .answer{width:100%; position:relative; display:flex; padding:0 0 1.25rem 3.25rem;}
.faq-01 .answer p{margin:0; width:calc(100% - 3.25rem);}
.faq-01 .wrapper{display:none;}
@media screen and (max-width:575.98px){
    .faq-01 .answer{padding:0 0 1.25rem 1.25rem;}
}


/* Intro 01 */
.intro-01{background-position:center; background-size:cover; background-repeat:no-repeat;}
.intro-01 > .container{position:relative; padding-top:4rem; padding-bottom:4rem;} 
.intro-01 .contact-btns{margin:1rem 0;}
.intro-01 .contact-btns .contact-btn{
    position:relative; display:inline-block; color:#fff; font-size:1.625rem; text-decoration:none;
    margin:.125rem 1.5rem .125rem 0; transition:opacity .3s;
}
.intro-01 .contact-btns .contact-btn:last-child{margin-right:0;}
.intro-01 .contact-btns .contact-btn:hover{opacity:.75;}
.intro-01 .contact-btns .contact-btn::before{
    content:'\f054'; display:inline-block; font-family:'Font Awesome 5 Free';
    font-weight:900; font-size:40%; width:.625rem; height:.625rem; text-align:center;
    vertical-align:middle; border-radius:.3125rem; line-height:.625rem; padding:.375rem; 
    background:#fff; color:#777; margin:0 .625rem 0 0;
}

.intro-01 .float-img{
    display:block; width:auto; height:calc(100% - .5rem); position:absolute; bottom:0; right:0;
}
.intro-01 .float-img.type-2{right:11rem;}
.intro-01 .float-img.type-3{height:calc(100% + 5rem);} 

@media screen and (max-width:991.98px){
    .intro-01 > .container{padding-top:3rem; padding-bottom:3rem;}
    .intro-01 .float-img{height:calc(100% - 1.5rem);}
    .intro-01 .float-img.type-2{right:10rem;}
    .intro-01 .float-img.type-3{height:calc(100% + 3rem);}
}
@media screen and (max-width:767.98px){
    .intro-01 > .container{padding-bottom:0;}
    .intro-01.no-hero-img > .container{padding-bottom:3rem;}
    .intro-01 .float-img{
        position:relative; margin:1.5rem auto 0 auto; width:100%; max-width:350px; height:auto;
        right:auto!important;
    }
}
@media screen and (max-width:575.98px){
    .intro-01 > .container{padding-top:2.5rem;}
    .intro-01.no-hero-img > .container{padding-bottom:2.5rem;}
    .intro-01 .float-img{max-width:280px;}
}

/* Intro 02 */
.intro-02{
    position:relative; display:flex; width:100%; height:100vh; align-items:center;
    overflow:hidden;
}
.intro-02 > .hero{display:block; position:absolute; left:0; bottom:0; height:100vh; width:auto;}
.intro-02 .text-container{position:relative; width:100%; max-width:560px; margin:0 0 0 auto;}
.intro-02 .hero-icon{display:block; width:100px; height:auto; margin:0 auto;}
.intro-02 .hero-border{display:block; width:280px; height:auto; margin:.75rem auto 1.5rem auto;}
@media screen and (max-width:1299.98px){
    .intro-02 .text-container{max-width:450px;}
}
@media screen and (max-width:1199.98px){
    .intro-02 > .hero{transform:translateX(-160px);}
}
@media screen and (max-width:991.98px){
    .intro-02{display:block; height:auto;}
    .intro-02 > .hero{position:relative; width:155%; height:auto; transform:none;}
    .intro-02 .text-container{max-width:100%; padding:2.5rem 0 3rem 0;}
    .intro-02 .hero-icon{width:80px;}
}


/* Chat Container */
.chat-container{
    width:100%; border-radius:.625rem .625rem 0 0; overflow:hidden;
    -webkit-box-shadow:0px 5px 20px 0px rgba(0,0,0,.2);
    -moz-box-shadow:0px 5px 20px 0px rgba(0,0,0,.2);
    box-shadow:0px 5px 20px 0px rgba(0,0,0,.2);
}
.chat-container > .chat-header{padding:1rem 1.25rem 0 1.25rem; overflow:hidden;}
.chat-container > .chat-body{width:100%; padding:2rem 1.25rem;}
.chat-container .chat-wrapper{
    padding:0; width:100%; overflow-x:hidden; overflow-y:auto; max-height:75vh;
    padding:0 1rem 0 0;
}
.chat-container .chat-wrapper > .wrapper{position:relative; width:100%;}
.chat-container .chat{
    padding:1rem 0; display:flex; width:calc(100% - 3.75rem); max-width:540px;
    align-items:center; flex-wrap:wrap;
}
.chat-container .chat.other{margin:0 auto 0 0;}
.chat-container .chat.self{margin:0 0 0 auto; flex-direction:row-reverse;}
.chat-container .chat > .profile{
    width:2.75rem; height:2.75rem; border-radius:50%; background-size:cover;
    background-position:center; background-repeat:no-repeat; margin:0 1rem 0 0;
}
.chat-container .chat.self > .profile{margin:0 0 0 1rem;}
.chat-container .chat > .content{width:calc(100% - 3.75rem);}
.chat-container .chat .text{
    position:relative; width:100%; border:1px solid transparent; border-radius:.3125rem;
    padding:.75rem 1rem; font-size:1.3125rem; font-weight:300; line-height:1.25;
}
.chat-container .chat.self .text{text-align:right;}
.chat-container .chat .text::before{
    content:''; position:absolute; top:calc(50% - .5rem); 
    width:1rem; height:1rem; background:#f3f5f4; transform:rotate(45deg); 
}
.chat-container .chat.other .text::before{
    left:-.5rem; border-bottom:1px solid transparent; border-left:1px solid transparent;
}
.chat-container .chat.self .text::before{
    right:-.5rem; border-top:1px solid transparent; border-right:1px solid transparent;
}
.chat-container .chat .info{width:100%; display:block; padding:0 0 0 3.75rem; font-size:1.1875rem;}
.chat-container .chat.self .info{text-align:right; padding:0 3.75rem 0 0;}
.chat-container .chat .info > *{display:inline-block; margin:.375rem 0 0 0; line-height:1;}
.chat-container .chat .info > .icon{
    width:1rem; height:1rem; line-height:1.1875rem; font-size:.5625rem;
    border-radius:50%; text-align:center; transform:translateY(-.125rem);
}
@media screen and (max-width:1199.98px){
    .chat-container .chat{max-width:520px;}
}
@media screen and (max-width:767.98px){
    .chat-container .chat{width:calc(100% - 4.5rem);}
    .chat-container .chat > .profile{width:2.25rem; height:2.25rem;}
    .chat-container .chat > .content{width:calc(100% - 3.25rem);}
    .chat-container .chat .text{padding:.625rem .875rem; font-size:1.25rem;}
    .chat-container .chat .info{padding:0 0 0 3.25rem;}
    .chat-container .chat.self .info{padding:0 3.25rem 0 0;}
}
@media screen and (max-width:575.98px){
    .chat-container .chat{width:calc(100% - 1.5rem);}
}


/* Sitemap Padding */
.section-sitemap{padding-top:1rem; padding-bottom:29rem;}
@media screen and (max-width:991.98px){
    .section-sitemap{padding-bottom:34rem;}
}
@media screen and (max-width:767.98px){
    .section-sitemap{padding-bottom:54rem;}
}


/* Webboard */
.section-webboard{padding-top:4rem; padding-bottom:34rem; overflow:hidden;}
.section-webboard img.webboard{
    display:block; width:100%; max-width:900px; height:auto; margin:0 auto;
}
@media screen and (max-width:991.98px){
    .section-webboard{padding-top:3.5rem; padding-bottom:30rem;}
}
@media screen and (max-width:767.98px){
    .section-webboard{padding-bottom:22rem;}
}
@media screen and (max-width:575.98px){
    .section-webboard{padding-top:2.5rem; padding-bottom:18rem;}
}


/* Tree */
.tree .node{
    width:160px; padding:6px 12px; min-height:56px; display:flex!important; align-items:center;
    border-radius:4px; box-shadow:rgba(58,45,45,.1) 0px 10px 20px;
}
.tree .node > p{
    margin:0; font-size:20px; font-weight:300; color:#fff; width:100%; text-align:center;
}
.tree .node.root{
    background-image:linear-gradient(to right, #eee, #fff, #fff, #fff, #eee);
    width:220px; padding:27px 12px 6px 12px;
}
.tree .node.root > p{position:relative; font-size:25px; font-weight:400; color:#000;}
.tree .node.root > p::before{
    content:''; position:absolute; top:-45px; left:calc(50% - 22px); width:44px; height:44px;
    background:url('../img/icon/anamai.png') center/100% auto no-repeat;
}
.tree .node.node-1{background-image:linear-gradient(to right, #0c6773, #22828a, #0c6773);}
.tree .node.node-2{background-image:linear-gradient(to right, #0f5747, #26765d, #0f5747);}
.tree .node.node-3{background-image:linear-gradient(to right, #9db539, #b1c447, #9db539);}
.tree .node.node-4{background-image:linear-gradient(to right, #34adb5, #42bdc2, #34adb5);}
.tree .node.node-5{background:#353535;}
.tree .node.node-6{background:#ea6b16;}
.tree .node.node-7{background:#ebaa2a;}


/* Banner Event */
.banner-event{width:100%; padding-bottom:3rem;}
.banner-event > .slide-container{
    width:100%; background-image:linear-gradient(to right, rgba(255,161,28,.65), rgba(226,61,81,.65));
}
.banner-event .slides{
    width:calc(100vw + 980px); display:flex; overflow:hidden; transition:transform .4s;
    transform:translateX(calc((2 - var(--month)) * 140px));
}
.banner-event .slide{position:relative; width:140px; cursor:pointer; transition:width .4s;}
.banner-event .slide.active{width:calc(100vw - 560px);}
.banner-event .slide > .wrapper{position:relative; width:100%; height:300px;}
.banner-event .slide .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; background-repeat:no-repeat; cursor:pointer;
    -webkit-filter:grayscale(100%); transition:all .4s;
}
.banner-event .slide.active .img-bg{-webkit-filter:grayscale(0%);}
.banner-event .slide .filter{
    position:absolute; top:0; bottom:0; left:0; right:0; opacity:.65; transition:opacity .4s;
}
.banner-event .slide.active .filter{opacity:0;}
.banner-event .slide .text-wrapper{
    position:absolute; bottom:1.5rem; left:1rem; right:1rem; transition:opacity .4s;
}
.banner-event .slide.active .text-wrapper{opacity:0;}
.banner-event .slide .text-wrapper > *{line-height:1; margin:0;}
.banner-event .slide:nth-child(5n+1) .filter{background:#ffa11c;}
.banner-event .slide:nth-child(5n+2) .filter{background:#e23d51;}
.banner-event .slide:nth-child(5n+3) .filter{background:#1d684a;}
.banner-event .slide:nth-child(5n+4) .filter{background:#148790;}
.banner-event .slide:nth-child(5n) .filter{background:#abcb0c;}
.banner-event .calendar-container{
    width:100%; max-width:300px; margin:0 auto; transform:translateY(-5.375rem);
}
@media screen and (max-width:1299.98px){
    .banner-event .slides{
        width:calc(100vw + 1260px); transform:translateX(calc((1 - var(--month)) * 140px));
    }
    .banner-event .slide.active{width:calc(100vw - 280px);}
    .banner-event .slide > .wrapper{height:320px;}
}
@media screen and (max-width:1199.98px){
    .banner-event .slide > .wrapper{height:260px;}
}
@media screen and (max-width:991.98px){
    .banner-event{padding-bottom:2rem;}
    .banner-event .slides{width:1200vw; transform:translateX(calc((0 - var(--month)) * 100vw));}
    .banner-event .slide, .banner-event .slide.active{width:100vw;}
    .banner-event .slide > .wrapper{height:30.5vw;}
    .banner-event .calendar-container{max-width:340px; margin-top:1rem; transform:none;}
}


/* Info Graphic */
.info-graphic-container{width:100%; position:relative;}
.info-graphic-container > .info-graphic{
    position:relative; width:100%; padding:140% 0 0 0;
    background-image:linear-gradient(to bottom, #e3e3e1, #f9f9f9, #fff);
}
.info-graphic-container > .info-graphic > .wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; padding:3rem;
}
.info-graphic-container > .info-graphic .info-box{
    position:relative; width:100%; height:100%; padding:1rem 0;
    background:#fff; box-shadow:rgba(0,0,0,.2) 0px 10px 20px;
}
.info-graphic-container .img-contents{
    width:calc(100% - 2.5rem); position:relative; height:calc(100% - 6.5rem); margin:0 auto;
}
.info-graphic-container .img-contents > .img-content{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover; opacity:0;
    background-position:center; background-repeat:no-repeat; transition:opacity .3s;
}
.info-graphic-container .img-contents > .img-content.active{opacity:1;}
.info-graphic-container > .info-contents{width:100%; position:relative;}
.info-graphic-container .info-content{display:none; width:100%;}
.info-graphic-container .info-content.active{display:block;}
@media screen and (max-width:1199.98px){
    .info-graphic-container > .info-graphic > .wrapper{padding:2rem;}
}
@media screen and (max-width:767.98px){
    .info-graphic-container > .info-graphic{padding:155% 0 0 0;}
    .info-graphic-container > .info-graphic > .wrapper{padding:2rem 1rem;}
    .info-graphic-container .img-contents{height:calc(100% - 6rem);}
}
@media screen and (max-width:575.98px){
    .info-graphic-container > .info-graphic{padding:140% 0 0 0;}
}


/* Full Calendar */
.fullcalendar-container{width:100%;}
.fullcalendar-container .fullcalendar-wrapper{width:100%; overflow:hidden!important; margin:0;}
.fullcalendar-container .fullcalendar-header{
    width:100%; display:flex; align-items:center; justify-content:space-between; margin:0;
}
.fullcalendar-container .fc-day-header.fc-widget-header{color:transparent; height:2.75rem;}

.fullcalendar-container.month .fc-toolbar.fc-header-toolbar{display:none;}
.fullcalendar-container.month .fullcalendar-header > .calendar-title{
    margin:0; font-size:3.25rem; font-weight:500;
}
.fullcalendar-container.month .fullcalendar-header > .calendar-btn{
    display:flex; align-items:center; font-size:1.8375rem; cursor:pointer; font-weight:400;
    transition:opacity .3s;
}
.fullcalendar-container.month .fullcalendar-header > .calendar-btn:hover{opacity:.75;}
.fullcalendar-container.month .fullcalendar-header > .calendar-btn i{font-size:1rem; margin:0 .5rem 0 0;}
.fullcalendar-container.month .fullcalendar-header > .calendar-btn:last-child i{margin:0 0 0 .5rem;}
.fullcalendar-container.month .fc .fc-row .fc-content-skeleton table .fc-day-number{
    color:transparent; height:3.5rem;
}
.fullcalendar-container.month .fc td{font-size:1.75rem; font-weight:300; text-align:center;}

.fullcalendar-container.week > .fullcalendar-wrapper{margin:0;}
.fullcalendar-container.week .fc-toolbar.fc-header-toolbar{margin:0 0 .5rem 0;}
.fullcalendar-container.week .fc-button{box-shadow:none!important;}
.fullcalendar-container.week .fc-toolbar.fc-header-toolbar h2{font-size:2rem; font-weight:500;}
.fullcalendar-container.week .fc-scroller{overflow:auto hidden!important; margin:.875rem 0 0 0;}
.fullcalendar-container.week th.fc-axis.fc-widget-header:first-child{display:none;}
.fullcalendar-container.week td.fc-axis.fc-widget-content:first-child{width:6rem!important;}
.fullcalendar-container.week td{font-size:1.75rem; font-weight:300; text-align:center;}
.fullcalendar-container.week .fc-bg > table{border-bottom:1px solid #eee;}
.fullcalendar-container.week .fc-bg td{border-bottom:1px solid #eee; vertical-align:middle;}
.fullcalendar-container.week hr{display:none;}
.fullcalendar-container.week .fc-content-skeleton{position:absolute; top:0; left:0; right:0; z-index:3;}
.fullcalendar-container.week .fc-timeGrid-view .fc-day-grid{position:relative; z-index:2;}
.fullcalendar-container.week .fc-timeGrid-view .fc-day-grid .fc-row{min-height:3rem;}
.fullcalendar-container.week .fc-timeGrid-view .fc-day-grid .fc-row .fc-content-skeleton{
    padding-bottom:1rem;
}
.fullcalendar-container.week .fc .fc-axis{vertical-align:middle; padding:0 .25rem; white-space:nowrap;}
.fullcalendar-container.week .fc-ltr .fc-axis{text-align:right;}
.fullcalendar-container.week .fc-rtl .fc-axis{text-align:left;}
.fullcalendar-container.week .fc-time-grid-container,
.fullcalendar-container.week .fc-time-grid{position:relative; z-index:1;}
.fullcalendar-container.week .fc-time-grid{min-height:100%;}
.fullcalendar-container.week .fc-time-grid table{border:0 hidden transparent;}
.fullcalendar-container.week .fc-time-grid > .fc-bg{z-index:1;}
.fullcalendar-container.week .fc-time-grid .fc-slats,
.fullcalendar-container.week .fc-time-grid > hr{position:relative; z-index:2;}
.fullcalendar-container.week .fc-time-grid .fc-content-col{position:relative;}
.fullcalendar-container.week .fc-time-grid .fc-content-skeleton{
    position:absolute; z-index:3; top:0; left:1.9375rem; right:0;
}
.fullcalendar-container.week .fc-time-grid .fc-business-container{position:relative; z-index:1;}
.fullcalendar-container.week .fc-time-grid .fc-bgevent-container{position:relative; z-index:2;}
.fullcalendar-container.week .fc-time-grid .fc-highlight-container{position:relative; z-index:3;}
.fullcalendar-container.week .fc-time-grid .fc-event-container{position:relative; z-index:4;}
.fullcalendar-container.week .fc-time-grid .fc-now-indicator-line{z-index:5;}
.fullcalendar-container.week .fc-time-grid .fc-mirror-container{position:relative; z-index:6;}
.fullcalendar-container.week .fc-time-grid .fc-slats td{height:1.5em; border-bottom:0;}
.fullcalendar-container.week .fc-time-grid .fc-slats .fc-minor td{border-top-style:dotted;}
.fullcalendar-container.week .fc-time-grid .fc-highlight-container{position:relative;}
.fullcalendar-container.week .fc-time-grid .fc-highlight{position:absolute; left:0; right:0;}
.fullcalendar-container.week .fc-ltr .fc-time-grid .fc-event-container{margin:0 2.5% 0 2px;}
.fullcalendar-container.week .fc-rtl .fc-time-grid .fc-event-container{margin:0 2px 0 2.5%;}

.fullcalendar-container.week .fc-time-grid .fc-event,
.fullcalendar-container.week .fc-time-grid .fc-bgevent{position:absolute; padding:1rem .0625rem;}
.fullcalendar-container.week .fc-time-grid .fc-bgevent{left:0; right:0;}
.fullcalendar-container.week .fc-time-grid-event{margin-bottom:1px;}
.fullcalendar-container.week .fc-time-grid-event-inset{
    -webkit-box-shadow:0px 0px 0px 1px #fff; box-shadow:0px 0px 0px 1px #fff;
}
.fullcalendar-container.week .fc-time-grid-event.fc-not-start{
    border-top-width:0; padding-top:1px; border-top-left-radius:0; border-top-right-radius:0;
}
.fullcalendar-container.week .fc-time-grid-event.fc-not-end{
  border-bottom-width:0; padding-bottom:1px; border-bottom-left-radius:0; border-bottom-right-radius:0;
}
.fullcalendar-container.week .fc-time-grid-event .fc-content{overflow:hidden; max-height:100%;}
.fullcalendar-container.week .fc-time-grid-event .fc-time,
.fullcalendar-container.week .fc-time-grid-event .fc-title{
    padding:0 1px; font-size:1.25rem; line-height:1.2;
}
.fullcalendar-container.week .fc-time-grid-event.fc-allow-mouse-resize .fc-resizer{
    left:0; right:0; bottom:0; height:.5rem; overflow:hidden; line-height:.5rem; font-size:.75rem;
    font-family:monospace; text-align:center; cursor:s-resize;
}
.fullcalendar-container.week .fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after{content:'=';}
.fullcalendar-container.week .fc-time-grid-event.fc-selected .fc-resizer{
    border-radius:.3125rem; border-width:1px; width:.5rem; height:.5rem; border-style:solid;
    border-color:inherit; background:#fff; left:50%; margin-left:-.3125rem; bottom:-.3125rem;
}
.fullcalendar-container.week .fc-time-grid .fc-now-indicator-line{border-top-width:1px; left:0; right:0;}
.fullcalendar-container.week .fc-time-grid .fc-now-indicator-arrow{margin-top:-.3125rem;}
.fullcalendar-container.week .fc-ltr .fc-time-grid .fc-now-indicator-arrow{
    left:0; border-width:.3125rem 0 .3125rem .3125rem;
    border-top-color:transparent; border-bottom-color:transparent;
}
.fullcalendar-container.week .fc-rtl .fc-time-grid .fc-now-indicator-arrow{
    right:0; border-width:.3125rem 0 .3125rem .3125rem;
    border-top-color:transparent; border-bottom-color:transparent;
}

@media screen and (max-width:1199.98px){
    .fullcalendar-container.month .fullcalendar-header > .calendar-title{font-size:2.75rem;}
    .fullcalendar-container.month .fullcalendar-header > .calendar-btn{font-size:1.75rem;}
    .fullcalendar-container.month .fullcalendar-header > .calendar-btn i{font-size:.9375rem;}
    .fullcalendar-container.month .fc-day-header.fc-widget-header{height:2.5rem;}
    .fullcalendar-container.month .fc td{font-size:1.5625rem;}
}
@media screen and (max-width:767.98px){
    .fullcalendar-container.month .fullcalendar-header > .calendar-title{font-size:2.5rem;}
    .fullcalendar-container.month .fullcalendar-header > .calendar-btn{font-size:1.625rem;}
    .fullcalendar-container.month .fullcalendar-header > .calendar-btn i{font-size:.875rem;}
    .fullcalendar-container.month .fc-day-header.fc-widget-header{height:2.25rem;}
    .fullcalendar-container.month .fc td{font-size:1.5rem; width:7rem;}
    /* .fullcalendar-container.week td{font-size:1.5rem;}
    .fullcalendar-container.week .fc-scroller{margin:3.375rem 0 0 0;} */
}

.fullcalendar-container .fullcalendar-header > .calendar-title{color:#000;}
.fullcalendar-container .fullcalendar-header > .calendar-btn{color:#0d838d; color:var(--color4);}
.fullcalendar-container .fc-day-header.fc-widget-header{
    background-color:#0d838d; background-color:var(--color4);
    border-color:#0d838d; border-color:var(--color4);
}
.fullcalendar-container .fc-unthemed td.fc-today{
    border-color:#0d838d!important; border-color:var(--color4)!important; color:#fff!important;
}
.fullcalendar-container.week .fc-button{
    background-color:#0d838d; background-color:var(--color4);
    border-color:#0d838d; border-color:var(--color4);
}
