/* Banner 01 */
.banner-01{position:relative; width:100%;}
.banner-01 > .slide-container{position:relative; width:100%; padding:0;}
.banner-01 .slide-container .slides .slide{position:relative;display:flex; justify-content:center;}
.banner-01 .slide-container .slide .hero{display:block; width:100%; height:auto;}
.banner-01 .slide-container .slide .text-wrapper{position:absolute; top:15%; }
.banner-01 .dots{position:absolute; bottom:0;}
.banner-01 .dots .slick-dots{padding: 0 0 0 8rem; list-style:none; display:flex; flex-wrap:wrap; align-items:center;}
.banner-01 .dots li.slick-active button{  font-size:.9375rem; color:#fff; font-weight:100; padding:.5rem .625rem; background: #df660c; border-radius: 99999rem; width:auto; height:auto;}
.banner-01 .dots li button{display:block; cursor:pointer; font-size: 0; background: #fff; border-radius: 50%; width:.625rem; height:.625rem; border:none; }
.banner-01 .dots li{padding:.5625rem; display:flex; position:relative;}
.banner-01 .dots li > .desc{position: absolute; font-weight:100; bottom: 100%; left:5rem; width:16.5rem; color:#fff;}
.banner-01 .dots li.slick-active .text-yellow{color:#f1cb0b;}
.banner-01 .dots li .text-yellow{color:transparent;}
.banner-01 .dots li:first-child::after, .banner-01 .dots li:last-child::after{
    content: ''; position:absolute; height:1px; width:100vw; background-color:#fff; top:calc(50% - .5px);
}
.banner-01 .dots li.slick-active:first-child::after{right:100%;}
.banner-01 .dots li.slick-active:last-child::after{left:100%;}
.banner-01 .dots li:first-child::after{right:calc(100% - .5625rem);}
.banner-01 .dots li:last-child::after{left:calc(100% - .5625rem);}


/* Breadbrumb 01 */
.breadcrumb-01{width:100%; padding:1.3125rem 0;}
.breadcrumb-01 .wrapper{
    width:100%; display:flex; align-items:center; justify-content:flex-end; flex-wrap:wrap;
}
.breadcrumb-01 h6{white-space:nowrap; font-weight:300; margin:0 1rem 0 0;}
.breadcrumb-01 h6:last-child{font-weight:600; margin:0;}
.breadcrumb-01 a{font-size:1.3125rem; color:#000;}
.breadcrumb-01 a:hover{color:#e59d2b;}
.breadcrumb-01 i{margin:0 .0625rem 0 0; font-size:1.1875rem; transform:translateY(.125rem);}


/* Committee 01 */
.committee-01{
    width:100%; padding:0 0 28rem 0; background-size:100% auto;
    background-position:bottom center; background-repeat:no-repeat;
}
.committee-01 img.img-committee{
    display:block; width:100%; max-width:70rem; height:auto; margin:1rem auto 0 auto;
    transform:translateX(-1.5%);
}


/* Content 01 */
.content-01{background-size:cover; background-position:center;}
.content-01 .tab-container{width:100%; margin:2.625rem 0 0 0;}
.content-01 .tab-container .tabs{width:100%; text-align:center;}
.content-01 .tab-container .tab{display:inline-block; margin:0 .0625rem;}
.content-01 .slide-container{position:relative; width:100%; margin:1.625rem 0 0 0;}
.content-01 .slide-container .slide{padding:0 .125rem 4rem .125rem;}
.content-01 .option-wrapper{width:100%; display:flex; justify-content:center;}
.content-01 .page-dots{position:relative; padding:0 2.875rem;}
.content-01 .slick-dots{
    display:flex; align-items:center; list-style-type:none; padding:0; margin:0;
}
.content-01 .slick-dots button{
    display:block; border:0; width:1.6875rem; height:1.6875rem; line-height:1.625rem;
    font-size:.8125rem; font-weight:300; border-radius:50%; color:#000; box-shadow:none;
    cursor:pointer; margin:0 .0625rem; padding:0; text-align:center;
    transition:background .25s, color .25s;
}
.content-01 .slick-dots button:hover,
.content-01 .slick-dots .slick-active button{background:#838383; color:#fff;}
.content-01 .page-arrows{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:space-between; pointer-events:none;
}
.content-01 .slick-arrow{
    position:relative; pointer-events:auto; border:0; background:none; font-size:0;
    box-shadow:none; cursor:pointer; transition:opacity .5s;
}
.content-01 .slick-arrow:hover{opacity:.6;}
.content-01 .slick-arrow::before{
    font:normal normal normal 16px/1 'Material-Design-Iconic-Font'; font-size:1.4375rem;
}
.content-01 .slick-arrow.slick-prev::before{content:'\f2ff';}
.content-01 .slick-arrow.slick-next::before{content:'\f301';}


/* Content 02 */
.content-02{background-size:cover; background-position:top center;}
.content-02 .grids{margin-top:.5rem;}
.content-02 h4{margin:.375rem 0 0 0;}
.content-02 .stat{border-right:2px solid #fff;}
.content-02 .grid:last-child > .stat{border-right:0;}
.content-02 .icon-title{
    width:100%; display:flex; align-items:flex-end; justify-content:center; font-size:2.25rem;
    font-weight:300; line-height:.5;
}
.content-02 .icon-title > img{display:block; height:2.5rem; width:auto; margin:0 .25rem 0 0;}
.content-02 .num{
    width:100%; display:flex; align-items:flex-end; justify-content:center;
    font-size:3.125rem; font-weight:500;
}
.content-02 .num > span{
    display:block; font-size:1.5rem; font-weight:200; line-height:1.875; margin:0 0 0 .25rem;
}
.content-02 .btns{margin:2.5rem 0 0 0;}


/* Call to Action 01 */
.call-01{background-size:cover; background-position:bottom center; padding-bottom:18rem;}

/* Call to Action 02 */
.call-02{background-size:cover; background-position:center; padding:6rem 0 10rem 0;}


/* Menubar 01 */
.menubar-01{
    position:relative; width:100%; font-size:1.125rem; font-weight:200; background-size:cover;
    background-position:center;
}
.menubar-01 > .wrapper{width:100%; display:flex; justify-content:center;}
.menubar-01 .menu-icon{display:block; position:relative;}
.menubar-01 .menu-icon > a{
    display:block; position:relative; color:#fff; padding:1.0625rem .75rem .375rem .75rem;
    text-align:center;
}
.menubar-01 .menu-icon > a > img{
    display:block; height:2.125rem; width:auto; margin:0 auto .125rem auto; opacity:.82;
    transition:opacity .25s;
}
.menubar-01 .menu-icon:hover > a > img{opacity:1;}
