
/* Banner 01 */
.banner-01{position:relative; width:100%;}
.banner-01 > .slide-container{padding:0;}
.banner-01 .slide{
    display:flex; align-items:center; text-align:center; line-height:1;
    background-size:cover; background-position:center; padding:0;
}
.banner-01 img.banner{display:block; width:100%; height:auto;}
.banner-01 .slide-container .dots{bottom:1rem;}


/* Contact 01 */
.contact-01 .footer{
    background:transparent; padding:1.25rem 0 2rem 0; margin:0 0 2.5rem 0;
}
@media screen and (max-width:1199.98px){
    .contact-01 .footer{padding:1.125rem 0 1.5rem 0; margin:0 0 2.25rem 0;}
}
@media screen and (max-width:767.98px){
    .contact-01 .footer{padding:1rem 0 1.25rem 0; margin:0 0 1.75rem 0;}
}


/* Content 01 */
.content-01 .grid{margin-top:3rem;}
.content-01 .ss-img{margin:2rem 0 2.375rem 0;}
.content-01 .ss-img.mt{margin-top:1rem;}
.content-01 .btns{margin-top:2rem;}
@media screen and (max-width:991.98px){
    .content-01 .grid{margin-top:2.5rem;}
    .content-01 .ss-img{margin:1.5rem 0 1.5rem 0;}
    .content-01 .btns{margin-top:1.75rem;}
}
@media screen and (max-width:767.98px){
    .content-01 .ss-img.mt{margin-top:.8125rem;}
    .content-01 .btns{margin-top:1.25rem;}
}
@media screen and (min-width:768px){
    .content-01 .p{
        height:9.875rem; overflow:hidden; display:-webkit-box; -webkit-line-clamp:7;
        -webkit-box-orient:vertical;
    }
}

/* Content 02 */
.content-02 .slide-container{
    width:calc(100% + 1rem); padding:0 0 3rem 0;; margin:2.75rem -.5rem 0 -.5rem;
}
.content-02 .slide > .wrapper{width:100%; padding:0 .5rem;}
.content-02 .slide-container .dots button{border-color:#ba9443;}
.content-02 .slide-container .dots li.slick-active > button{background:#ba9443;}
@media screen and (max-width:991.98px){
    .content-02 .slide-container{padding:0 0 2.75rem 0;; margin:2.5rem -.5rem 0 -.5rem;}
}
@media screen and (max-width:767.98px){
    .content-02 .slide-container{padding:0 0 2.375rem 0;; margin:2rem -.5rem 0 -.5rem;}
}

/* Content 03 */
.content-03 .slide-container{
    width:calc(100% + 2rem); padding:0 0 3rem 0;; margin:2.75rem -1rem 0 -1rem;
}
.content-03 .slide > .wrapper{width:100%; padding:0 .75rem;}
.content-03 .slide h6{text-align:center; margin:.875rem 0 0 0;}
.content-03 .slide-container .dots button{border-color:#ba9443;}
.content-03 .slide-container .dots li.slick-active > button{background:#ba9443;}
@media screen and (max-width:991.98px){
    .content-03 .slide h6{margin:.75rem 0 0 0;}
    .content-03 .slide-container{padding:0 0 2.75rem 0;; margin:2.5rem -1rem 0 -1rem;}
}
@media screen and (max-width:767.98px){
    .content-03 .slide-container{padding:0 0 2.375rem 0;; margin:2rem -1rem 0 -1rem;}
}

/* Content 04 */
.content-04 h4{height:5.125rem;}
.content-04 h5{margin:1.5rem 0 0 0;}
.content-04 .img-content{display:block; height:13rem; width:auto; margin:0 auto;}
.content-04 .img-content.vertical{height:20rem;}
@media screen and (max-width:991.98px){
    .content-04 .img-content.vertical{height:18rem;}
}
@media screen and (max-width:767.98px){
    .content-04 .img-content.vertical{height:16rem;}
    .content-04 h4{height:auto; margin:0 0 1rem 0;}
}

/* Content 05 */
.content-05 .img-content{
    display:block; width:100%; max-width:36rem; height:auto; margin:2rem auto;
}
.content-05 .sep-01{margin-bottom:1.75rem;}
.content-05 h6{margin-top:1.375rem;}
.content-05 p{margin-top:1.25rem;}
.content-05 table.p-list{width:calc(100% - 3rem); margin:1.25rem 0 1.25rem auto;}
.content-05 table.p-list td{vertical-align:baseline;}
.content-05 table.p-list td:first-child{padding-right:.5rem; white-space:nowrap;}
@media screen and (max-width:991.98px){
    .content-05 table.p-list{width:calc(100% - 2rem);}
}
@media screen and (max-width:767.98px){
    .content-05 h6{margin-top:1.3125rem;}
    .content-05 p{margin-top:1.125rem;}
    .content-05 table.p-list{width:calc(100% - 1rem); margin:1.125rem 0 1.125rem auto;}
}


/* Client 01 */
.client-01 .clients{
    width:100%; display:flex; align-items:center; justify-content:space-evenly; flex-wrap:wrap;
    margin:.625rem 0 0 0;
}
.client-01 .client{display:block; margin:1.5rem 0 0 0; transition:opacity .25s;}
.client-01 .client:hover{opacity:.75;}
.client-01 .client > img{display:block; height:6.5rem; width:auto; margin:0 auto;}
@media screen and (max-width:991.98px){
    .client-01 .clients{margin:.5rem 0 0 0;}
    .client-01 .client > img{height:6rem;}
}
@media screen and (max-width:767.98px){
    .client-01 .clients{margin:0;}
    .client-01 .client > img{height:5rem;}
}
@media screen and (max-width:575.98px){
    .client-01 .client{width:100%;}
    .client-01 .client > img{height:4.5rem;}
}


/* Search 01 */
.search-01 .search-box{width:100%; padding:.625rem; border-radius:.3125rem; margin:.625rem 0 0 0;}
.search-01 .search-box.mt{margin-top:2rem;}
.search-01 .items{
    width:100%; display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap;
    margin:-.625rem 0 0 0;
}
.search-01 .item{width:calc((100% - 2.5rem) / 5); margin:.625rem 0 0 0;}
@media screen and (max-width:991.98px){
    .search-01 .item{width:calc((100% - .625rem) / 2);}
}
@media screen and (max-width:575.98px){
    .search-01 .item{width:100%;}
}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{
    position:relative; width:100%; display:flex; flex-wrap:wrap; margin:0;
    display:flex; justify-content:center; margin:1.5rem 0 1.625rem 0;
}
.tab-container .tab{
    display:block; width:50%; cursor:pointer; padding:.6875rem .75rem; text-align:center;
    font-size:1.125rem; font-weight:300; color:#000; border:1px solid #ba9443;
    background-image:linear-gradient(to bottom, #ececec, #fafafa, #fafafa);
    transition:all .25s;
}
.tab-container .tab.active{
    background-image:linear-gradient(to bottom, #1e6848, #175f3f, #145738);
    color:#fff; border-color:#145738;
}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{display:none; position:relative; padding:0; margin:0; flex-wrap:wrap;}
.tab-container .tab-content.active{display:block;}
@media screen and (max-width:767.98px){
    .tab-container .tab{width:100%;}
    .tab-container .tab{font-size:1.0625rem;}
    .tab-container .tab:nth-child(1){border-radius:.3125rem .3125rem 0 0; border-bottom:0;}
    .tab-container .tab:nth-child(2){border-radius:0 0 .3125rem .3125rem; border-top:0;}
}
@media screen and (min-width:768px){
    .tab-container .tab:nth-child(1){border-radius:.3125rem 0 0 .3125rem; border-right:0;}
    .tab-container .tab:nth-child(2){border-radius:0 .3125rem .3125rem 0; border-left:0;}
}


/* Thai Map Container */
.thai-map-container{
    position:relative; width:100%; padding:2rem; background:#f8f8f8;
    border-radius:.3125rem; border:1.5px solid #ba9443; margin:2rem 0 0 0;
}
.thai-map-container > .option{position:relative; width:100%; margin:0 0 2rem 0;}
.thai-map-container > .option > a{display:block; position:absolute; top:.125rem; right:0;}
.thai-map-container > .thai-map-wrapper{position:relative; width:100%; padding:67% 0 0 0;}
.thai-map-container .wrapper{position:absolute; top:0; bottom:0; left:0; right:0;}
.thai-map-container .thai-map{position:relative; width:100%; height:100%;}

.thai-map-container .region-tags{pointer-events:none;}
.thai-map-container .region-tags > .region{display:block; position:absolute; height:9%; width:auto;}
.thai-map-container .region-tags > .region.region-1{top:8.5%; left:37.5%;}
.thai-map-container .region-tags > .region.region-2{top:27.5%; left:52%;}
.thai-map-container .region-tags > .region.region-3{top:25%; left:41%;}
.thai-map-container .region-tags > .region.region-4{top:41%; left:49.5%;}
.thai-map-container .region-tags > .region.region-5{top:37%; left:40%;}
.thai-map-container .region-tags > .region.region-6{top:73%; left:39.5%;}

@media screen and (max-width:991.98px){
    .thai-map-container{padding:1.5rem;}
    .thai-map-container > .option{margin:0 0 1.5rem 0;}
    .thai-map-container > .thai-map-wrapper{padding:80% 0 0 0;}
    .thai-map-container .region-tags > .region{height:10%;}
    .thai-map-container .region-tags > .region.region-1{top:8%; left:35%;}
    .thai-map-container .region-tags > .region.region-2{top:27%; left:54%;}
    .thai-map-container .region-tags > .region.region-3{top:24.5%; left:40%;}
    .thai-map-container .region-tags > .region.region-4{top:42%; left:49.5%;}
    .thai-map-container .region-tags > .region.region-5{top:38%; left:38%;}
    .thai-map-container .region-tags > .region.region-6{top:72%; left:37%;}
}
@media screen and (max-width:767.98px){
    .thai-map-container{padding:1rem;}
    .thai-map-container > .option{margin:0 0 1rem 0;}
    .thai-map-container > .option > a{
        position:relative; width:100%; top:0; text-align:center; margin:.3125rem 0 0 0;
    }
    .thai-map-container > .thai-map-wrapper{padding:100% 0 0 0;}
    .thai-map-container .region-tags > .region.region-1{top:8%; left:31%;}
    .thai-map-container .region-tags > .region.region-2{top:27%; left:54%;}
    .thai-map-container .region-tags > .region.region-3{top:24.5%; left:37%;}
    .thai-map-container .region-tags > .region.region-4{top:42%; left:49.5%;}
    .thai-map-container .region-tags > .region.region-5{top:37%; left:35.5%;}
    .thai-map-container .region-tags > .region.region-6{top:71.5%; left:33.5%;}
}

.thai-map-container .region-tags.inactive{display:none;}

.thai-map .province{stroke:#fff; transition:opacity .6s;}
.thai-map .workspace.active .province{opacity:0;}
.thai-map .workspace.active .province.active{opacity:1;}
.thai-map .region-1{fill:#bb9443;}
.thai-map .region-2{fill:#bb9443;}
.thai-map .region-3{fill:#bb7b43;}
.thai-map .region-4{fill:#bb8843;}
.thai-map .region-5{fill:#bb8843;}
.thai-map .region-6{fill:#bb9443;}
.thai-map .region-7{fill:#bb9443;}
