
/* Grids */
.grids{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
.grids > .grid{width:calc(50% - .75rem); margin:1.5rem 0 0 0;}

/* all */
.grids > .grid.all-10{width:calc(10% - .75rem);}
.grids > .grid.all-20{width:calc(20% - .75rem);}
.grids > .grid.all-25{width:calc(25% - .75rem);}
.grids > .grid.all-30{width:calc(30% - .75rem);}
.grids > .grid.all-40{width:calc(40% - .75rem);}
.grids > .grid.all-50{width:calc(50% - .75rem);}
.grids > .grid.all-60{width:calc(60% - .75rem);}
.grids > .grid.all-70{width:calc(70% - .75rem);}
.grids > .grid.all-75{width:calc(75% - .75rem);}
.grids > .grid.all-80{width:calc(80% - .75rem);}
.grids > .grid.all-90{width:calc(90% - .75rem);}
.grids > .grid.all-100{width:100%;}
.grids > .grid.all-1-3{width:calc(33.3333% - .75rem);}
.grids > .grid.all-2-3{width:calc(66.6666% - .75rem);}
.grids > .grid.mt-0{margin-top:0;}

@media screen and (min-width:1200px){
    /* xs */
    .grids > .grid{width:100%;}
    .grids > .grid.xs-mt-0{margin-top:0;}

    /* sm */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.sm-10{width:calc(10% - .75rem);}
    .grids > .grid.sm-20{width:calc(20% - .75rem);}
    .grids > .grid.sm-25{width:calc(25% - .75rem);}
    .grids > .grid.sm-30{width:calc(30% - .75rem);}
    .grids > .grid.sm-40{width:calc(40% - .75rem);}
    .grids > .grid.sm-50{width:calc(50% - .75rem);}
    .grids > .grid.sm-60{width:calc(60% - .75rem);}
    .grids > .grid.sm-70{width:calc(70% - .75rem);}
    .grids > .grid.sm-75{width:calc(75% - .75rem);}
    .grids > .grid.sm-80{width:calc(80% - .75rem);}
    .grids > .grid.sm-90{width:calc(90% - .75rem);}
    .grids > .grid.sm-100{width:100%;}
    .grids > .grid.sm-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.sm-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.sm-mt-0{margin-top:0;}

    /* md */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.md-10{width:calc(10% - .75rem);}
    .grids > .grid.md-20{width:calc(20% - .75rem);}
    .grids > .grid.md-25{width:calc(25% - .75rem);}
    .grids > .grid.md-30{width:calc(30% - .75rem);}
    .grids > .grid.md-40{width:calc(40% - .75rem);}
    .grids > .grid.md-50{width:calc(50% - .75rem);}
    .grids > .grid.md-60{width:calc(60% - .75rem);}
    .grids > .grid.md-70{width:calc(70% - .75rem);}
    .grids > .grid.md-75{width:calc(75% - .75rem);}
    .grids > .grid.md-80{width:calc(80% - .75rem);}
    .grids > .grid.md-90{width:calc(90% - .75rem);}
    .grids > .grid.md-100{width:100%;}
    .grids > .grid.md-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.md-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.md-mt-0{margin-top:0;}

    /* lg */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.lg-10{width:calc(10% - .75rem);}
    .grids > .grid.lg-20{width:calc(20% - .75rem);}
    .grids > .grid.lg-25{width:calc(25% - .75rem);}
    .grids > .grid.lg-30{width:calc(30% - .75rem);}
    .grids > .grid.lg-40{width:calc(40% - .75rem);}
    .grids > .grid.lg-50{width:calc(50% - .75rem);}
    .grids > .grid.lg-60{width:calc(60% - .75rem);}
    .grids > .grid.lg-70{width:calc(70% - .75rem);}
    .grids > .grid.lg-75{width:calc(75% - .75rem);}
    .grids > .grid.lg-80{width:calc(80% - .75rem);}
    .grids > .grid.lg-90{width:calc(90% - .75rem);}
    .grids > .grid.lg-100{width:100%;}
    .grids > .grid.lg-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.lg-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.lg-mt-0{margin-top:0;}

    /* xl */
    .grids > .grid.xl-10{width:calc(10% - .75rem);}
    .grids > .grid.xl-20{width:calc(20% - .75rem);}
    .grids > .grid.xl-25{width:calc(25% - .75rem);}
    .grids > .grid.xl-30{width:calc(30% - .75rem);}
    .grids > .grid.xl-40{width:calc(40% - .75rem);}
    .grids > .grid.xl-50{width:calc(50% - .75rem);}
    .grids > .grid.xl-60{width:calc(60% - .75rem);}
    .grids > .grid.xl-70{width:calc(70% - .75rem);}
    .grids > .grid.xl-75{width:calc(75% - .75rem);}
    .grids > .grid.xl-80{width:calc(80% - .75rem);}
    .grids > .grid.xl-90{width:calc(90% - .75rem);}
    .grids > .grid.xl-100{width:100%;}
    .grids > .grid.xl-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.xl-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.xl-mt-0{margin-top:0;}
}
@media screen and (min-width:992px) and (max-width: 1199.98px){
    /* xs */
    .grids > .grid{width:100%;}
    .grids > .grid.xs-mt-0{margin-top:0;}

    /* sm */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.sm-10{width:calc(10% - .75rem);}
    .grids > .grid.sm-20{width:calc(20% - .75rem);}
    .grids > .grid.sm-25{width:calc(25% - .75rem);}
    .grids > .grid.sm-30{width:calc(30% - .75rem);}
    .grids > .grid.sm-40{width:calc(40% - .75rem);}
    .grids > .grid.sm-50{width:calc(50% - .75rem);}
    .grids > .grid.sm-60{width:calc(60% - .75rem);}
    .grids > .grid.sm-70{width:calc(70% - .75rem);}
    .grids > .grid.sm-75{width:calc(75% - .75rem);}
    .grids > .grid.sm-80{width:calc(80% - .75rem);}
    .grids > .grid.sm-90{width:calc(90% - .75rem);}
    .grids > .grid.sm-100{width:100%;}
    .grids > .grid.sm-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.sm-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.sm-mt-0{margin-top:0;}

    /* md */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.md-10{width:calc(10% - .75rem);}
    .grids > .grid.md-20{width:calc(20% - .75rem);}
    .grids > .grid.md-25{width:calc(25% - .75rem);}
    .grids > .grid.md-30{width:calc(30% - .75rem);}
    .grids > .grid.md-40{width:calc(40% - .75rem);}
    .grids > .grid.md-50{width:calc(50% - .75rem);}
    .grids > .grid.md-60{width:calc(60% - .75rem);}
    .grids > .grid.md-70{width:calc(70% - .75rem);}
    .grids > .grid.md-75{width:calc(75% - .75rem);}
    .grids > .grid.md-80{width:calc(80% - .75rem);}
    .grids > .grid.md-90{width:calc(90% - .75rem);}
    .grids > .grid.md-100{width:100%;}
    .grids > .grid.md-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.md-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.md-mt-0{margin-top:0;}

    /* lg */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.lg-10{width:calc(10% - .75rem);}
    .grids > .grid.lg-20{width:calc(20% - .75rem);}
    .grids > .grid.lg-25{width:calc(25% - .75rem);}
    .grids > .grid.lg-30{width:calc(30% - .75rem);}
    .grids > .grid.lg-40{width:calc(40% - .75rem);}
    .grids > .grid.lg-50{width:calc(50% - .75rem);}
    .grids > .grid.lg-60{width:calc(60% - .75rem);}
    .grids > .grid.lg-70{width:calc(70% - .75rem);}
    .grids > .grid.lg-75{width:calc(75% - .75rem);}
    .grids > .grid.lg-80{width:calc(80% - .75rem);}
    .grids > .grid.lg-90{width:calc(90% - .75rem);}
    .grids > .grid.lg-100{width:100%;}
    .grids > .grid.lg-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.lg-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.lg-mt-0{margin-top:0;}
}
@media screen and (min-width:768px) and (max-width: 991.98px){
    /* xs */
    .grids > .grid{width:100%;}
    .grids > .grid.xs-mt-0{margin-top:0;}

    /* sm */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.sm-10{width:calc(10% - .75rem);}
    .grids > .grid.sm-20{width:calc(20% - .75rem);}
    .grids > .grid.sm-25{width:calc(25% - .75rem);}
    .grids > .grid.sm-30{width:calc(30% - .75rem);}
    .grids > .grid.sm-40{width:calc(40% - .75rem);}
    .grids > .grid.sm-50{width:calc(50% - .75rem);}
    .grids > .grid.sm-60{width:calc(60% - .75rem);}
    .grids > .grid.sm-70{width:calc(70% - .75rem);}
    .grids > .grid.sm-75{width:calc(75% - .75rem);}
    .grids > .grid.sm-80{width:calc(80% - .75rem);}
    .grids > .grid.sm-90{width:calc(90% - .75rem);}
    .grids > .grid.sm-100{width:100%;}
    .grids > .grid.sm-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.sm-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.sm-mt-0{margin-top:0;}

    /* md */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.md-10{width:calc(10% - .75rem);}
    .grids > .grid.md-20{width:calc(20% - .75rem);}
    .grids > .grid.md-25{width:calc(25% - .75rem);}
    .grids > .grid.md-30{width:calc(30% - .75rem);}
    .grids > .grid.md-40{width:calc(40% - .75rem);}
    .grids > .grid.md-50{width:calc(50% - .75rem);}
    .grids > .grid.md-60{width:calc(60% - .75rem);}
    .grids > .grid.md-70{width:calc(70% - .75rem);}
    .grids > .grid.md-75{width:calc(75% - .75rem);}
    .grids > .grid.md-80{width:calc(80% - .75rem);}
    .grids > .grid.md-90{width:calc(90% - .75rem);}
    .grids > .grid.md-100{width:100%;}
    .grids > .grid.md-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.md-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.md-mt-0{margin-top:0;}
}
@media screen and (min-width:576px) and (max-width:767.98px){ /* Exception Start Here */
    /* xs */
    .grids > .grid{width:100%;}
    .grids > .grid.xs-mt-0{margin-top:0;}

    /* sm */
    .grids > .grid{width:calc(50% - .75rem);}
    .grids > .grid.sm-10{width:calc(10% - .75rem);}
    .grids > .grid.sm-20{width:calc(20% - .75rem);}
    .grids > .grid.sm-25{width:calc(25% - .75rem);}
    .grids > .grid.sm-30{width:calc(30% - .75rem);}
    .grids > .grid.sm-40{width:calc(40% - .75rem);}
    .grids > .grid.sm-50{width:calc(50% - .75rem);}
    .grids > .grid.sm-60{width:calc(60% - .75rem);}
    .grids > .grid.sm-70{width:calc(70% - .75rem);}
    .grids > .grid.sm-75{width:calc(75% - .75rem);}
    .grids > .grid.sm-80{width:calc(80% - .75rem);}
    .grids > .grid.sm-90{width:calc(90% - .75rem);}
    .grids > .grid.sm-100{width:100%;}
    .grids > .grid.sm-1-3{width:calc(33.3333% - .75rem);}
    .grids > .grid.sm-2-3{width:calc(66.6666% - .75rem);}
    .grids > .grid.sm-mt-0{margin-top:0;}
}
@media screen and (max-width:575.98px){
    /* xs */
    .grids > .grid{width:100%!important;}
    .grids > .grid.xs-mt-0{margin-top:0;}
}