
/* Topnav */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    nav.topnav .submenu-container{display:none;}
    nav.topnav .menu:hover > .submenu-container{display:block;}
    nav.topnav .submenu > .child-container{display:none;}
    nav.topnav .submenu:hover > .child-container{display:block;}
    .topnav-filter{display:none;}
    .topnav-filter.active{display:block;}
}

/* Sidenav */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    nav.sidenav ~ .sidenav-filter{display:none;}
    nav.sidenav.active ~ .sidenav-filter{display:block;}
    nav.sidenav .option > .dropdown{display:none;}
    nav.sidenav .option:hover > .dropdown{display:block;}
}

/* Back to Top */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    .back-to-top{display:none;}
    .back-to-top.active{display:block;}
}

/* Global Search */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    .global-search-container{display:none;}
    .global-search-container.active{display:block;}
}

/* Popup Container */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    .popup-container{display:none!important;}
    .popup-container.active{display:block!important;}
}
