/* Topnav */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    nav.topnav .menu-toggle > .dropdown{display:none;}
    nav.topnav .menu-toggle.active > .dropdown{display:block;}
}

/* Back to Top */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    .back-to-top{display:none;}
    .back-to-top.active{display:block;}
}
