/* Topnav */
nav.topnav{
    position:fixed; top:0; left:0; width:100%; border-bottom:1px solid transparent; z-index:95; 
    transition:box-shadow .3s, top .3s;
}
nav.topnav.sticky{box-shadow:rgba(58,45,45,.03) 0px 10px 20px; top:-2.875rem;}
nav.topnav > .container > .wrapper{
    position:relative; display:flex; width:100%; justify-content:space-between;
    align-items:center;
}
nav.topnav .logo{
    display:flex; align-items:center; text-decoration:none; padding:0;
    margin:.375rem 0; transition:padding .3s, opacity .3s;
}
nav.topnav .logo:hover{opacity:.8;}
nav.topnav.sticky .logo{padding-top:2.875rem;}
nav.topnav .logo > img{display:block; height:5rem; width:auto; transition:width .3s, height .3s;}
nav.topnav.sticky .logo > img{height:3rem;}
nav.topnav .logo > .text{margin:0 0 0 1.5rem;}
nav.topnav .logo h1{
    margin:0; font-size:2.75rem; font-weight:400; line-height:.75; transition:transform .3s;
    white-space:nowrap;
}
nav.topnav .logo p{
    margin:0; font-size:1.25rem; font-weight:200; transition:opacity .1s, font-size .1s, margin .1s;
}
nav.topnav.sticky .logo p{opacity:0; margin:0; font-size:0;}

nav.topnav .top-menu{
    display:flex; justify-content:space-between; align-items:center; margin:0; width:100%;
    padding:0 0 0 1rem;
}
nav.topnav .top-menu > .option{display:flex; align-items:center; padding:.5rem .25rem;}
nav.topnav .top-menu > .option p{
    margin:0 .5rem 0 0; font-size:1.0625rem; font-weight:400; white-space:nowrap;
}
nav.topnav .top-menu > .option .btn{
    width:1.5rem; height:1.5rem; border-radius:.25rem; margin:0 .125rem; text-align:center;
    line-height:1.5rem; font-size:1.0625rem; font-weight:600; cursor:pointer;
}
nav.topnav .bottom-menu{display:flex; align-items:center;}
nav.topnav .top-menu > .menu-option{
    display:block; height:2.875rem; width:3.75rem; text-align:center; line-height:2.875rem;
    font-size:1rem; transition:color .3s;
}

nav.topnav .ui.fluid.dropdown{width:8.5rem; padding:.375rem .5rem; min-height:0;}
nav.topnav .ui.fluid.dropdown > .dropdown.icon{right:.875rem; padding:.4125rem;}
nav.topnav .ui.fluid.dropdown > .text, nav.topnav .ui.fluid.dropdown .item{
    font-size:1.125rem; font-weight:400; display:flex; align-items:center;
}
nav.topnav .ui.fluid.dropdown .item{padding:.625rem .5rem!important;}
nav.topnav .ui.fluid.dropdown .flag-avatar{
    width:1.25rem; height:.875rem; background-size:cover; background-position:center;
    border-radius:.125rem; margin:0 .4125rem 0 0;
}

nav.topnav .menu{position:relative;}
nav.topnav .menu > a{
    display:flex; width:8rem; height:3.75rem; justify-content:center; align-items:center;
    text-decoration:none; padding:1rem; margin:0; font-size:1.25rem; font-weight:300; 
    border-left:1px solid transparent; white-space:nowrap; position:relative; transition:color .3s;
}
nav.topnav .menu > a > div{z-index:1;}
nav.topnav .menu > a::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
    opacity:0; transition:opacity .3s;
}
nav.topnav .menu:hover > a::before, nav.topnav .menu.active > a::before{opacity:1;}
nav.topnav .menu > a::after{
    content:''; position:absolute; bottom:0; left:0; width:.5rem; height:.5rem; 
    pointer-events:none;
}
nav.topnav .menu:last-child > a::after{display:none;}
nav.topnav .menu.icon-menu > a{width:3.75rem; font-size:1rem; border-right:1px solid transparent;}

nav.topnav .submenu-container{
    position:absolute; top:calc(100% + .5rem); left:0; opacity:0; pointer-events:none;
    box-shadow:rgba(0,0,0,.9) 0px 15px 30px; transition:opacity .4s, top .4s;
}
nav.topnav .submenu-container.expand-left{left:auto; right:0;}
nav.topnav .submenu-container.expand-adaptive{transform:translateX(-15rem);}
nav.topnav .menu:hover > .submenu-container{opacity:1; top:100%; pointer-events:all;}
nav.topnav .submenu-container > .wrapper{position:relative; display:flex;}

nav.topnav .submenu-container .hero{
    position:absolute; top:0; bottom:0; right:100%; width:14rem;
}
nav.topnav .submenu-container .hero > .wrapper{
    position:relative; width:100%; height:100%; padding:1rem; background-size:cover;
    background-position:center;
}
nav.topnav .submenu-container .hero img{
    display:block; position:absolute; bottom:0; left:-3rem; width:100%; height:auto;
    transform:translateX(-2.5rem); opacity:0; transition:opacity .3s, transform .3s;
}
nav.topnav .menu:hover .submenu-container .hero img{
    transform:translateX(0); opacity:1; transition-delay:.15s;
}
nav.topnav .submenu-container .hero h2{margin:0; text-align:center; font-size:2.125rem; font-weight:300;}
nav.topnav .submenu-container .hero p{
    margin:.125rem 0 0 0; text-align:center; font-size:1.3125rem; font-weight:200;
}

nav.topnav .submenu-tab{position:relative; display:none;}
nav.topnav .submenu-tab.active{display:flex;}
nav.topnav .submenus{position:relative; min-width:15rem; min-height:25rem; height:auto;}
nav.topnav .submenus::after{
    content:''; position:absolute; top:0; bottom:0; left:0; width:.75px; opacity:.25;
}
nav.topnav .wrapper > .submenus:nth-child(2)::after,
nav.topnav .submenu-tab > .submenus:nth-child(1)::after{background:transparent;}
nav.topnav .submenu{position:relative;}
nav.topnav .submenu.empty{pointer-events:none;}
nav.topnav .submenu > a{
    position:relative; display:block; width:100%; text-decoration:none; padding:1rem 2rem 1rem 2rem;
    margin:0; font-size:1.125rem; font-weight:300; min-height:3.2rem; white-space:pre-line;
    transition:background .3s, color .3s;
}
nav.topnav .submenu > a::after{
    content:''; position:absolute; bottom:0; left:2rem; right:0; height:.75px; opacity:.25;
}
nav.topnav .submenu:last-child > a::after{display:none;}
nav.topnav .submenu.has-children > a::before{
    content:'\f054'; font-family:'Font Awesome 5 Free'; font-weight:900; font-size:.875rem;
    position:absolute; top:0; bottom:0; right:1rem; display:flex; align-items:center;
    pointer-events:none; transition:color .3s;
}

nav.topnav .submenu > .child-container{
    position:absolute; top:0; left:100%; opacity:0; pointer-events:none; transition:opacity .4s;
}
nav.topnav .submenu:hover > .child-container{opacity:1; pointer-events:auto;}
nav.topnav .submenu .childs{position:relative; min-width:15rem;}
nav.topnav .submenu .child > a{
    position:relative; display:block; width:100%; text-decoration:none; padding:1rem 2rem 1rem 2rem;
    margin:0; font-size:1.125rem; font-weight:400; min-height:3.2rem; white-space:pre-line;
    transition:background .3s, color .3s;
}
nav.topnav .submenu .child > a::after{
    content:''; position:absolute; bottom:0; left:2rem; right:0; height:.75px; opacity:.25;
}
nav.topnav .submenu .child:last-child > a::after{display:none;}

nav.topnav .mobile-menu{display:none; align-items:center; justify-content:flex-end; height:3.75rem;}
nav.topnav .mobile-menu .sidenav-btn{
    display:flex; justify-content:center; align-items:center; cursor:pointer; width:3.75rem; height:3.75rem;
    border-left:1px solid transparent; border-right:1px solid transparent;
}

.topnav-filter{
    content:''; position:fixed; top:0; left:0; width:100vw; height:100vh; background:#000;
    opacity:0; pointer-events:none; transition:opacity .3s; z-index:94;
}
.topnav-filter.active{opacity:.65;}

nav.topnav ~ .topnav-spacer{display:block; width:100%; height:6.625rem;}

@media screen and (max-width:1299.98px){
    nav.topnav .submenu.empty{display:none;}
}
@media screen and (max-width:1199.98px){
    nav.topnav .logo > .text{max-width:20rem;}
    nav.topnav .bottom-menu{display:none;}
    nav.topnav .mobile-menu{display:flex;}
}
@media screen and (max-width:991.98px){
    nav.topnav.sticky{top:0;}
    nav.topnav .logo{margin:.5rem 0; width:calc(100% - 3.25rem);}
    nav.topnav.sticky .logo{padding-top:0;}
    nav.topnav .logo > .text{margin:0 0 0 1rem; width:calc(100% - 4.375rem);}
    nav.topnav .logo > .text > h1{font-size:2.375rem;}
    nav.topnav .logo > .text > p{display:none;}
    nav.topnav .logo > img{height:4rem;}
    nav.topnav.sticky .logo > img{height:3rem;}
    nav.topnav .top-menu{display:none;}
    nav.topnav .mobile-menu .sidenav-btn{
        border-color:transparent!important; width:auto; padding:0 0 0 1rem;
    }
    nav.topnav ~ .topnav-spacer{height:4.9375rem;}
}


/* Sidenav */
nav.sidenav{
    display:none; position:fixed; top:0; right:0; width:325px; height:100vh; z-index:98;
    transform:translateX(325px); transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav .sidenav-btn{
    position:absolute; top:0; right:0; width:3.75rem; height:3.75rem; cursor:pointer;
    display:flex; align-items:center; justify-content:center; border-left:1px solid transparent;
}

nav.sidenav .options{display:flex; width:100%; margin:3.75rem 0 0 0;}
nav.sidenav .options > .option{
    width:20%; height:3.4125rem; position:relative; cursor:pointer;
    border-top:1px solid transparent; border-right:1px solid transparent;
    display:flex; align-items:center; justify-content:center;
}
nav.sidenav .options > .option:nth-child(5n){border-right:0;}
nav.sidenav .option > .icon{font-size:1.5rem; font-weight:400;}
nav.sidenav .option i{font-size:1rem;}
nav.sidenav .option > .dropdown{
    position:absolute; top:calc(100% + .25rem); left:-1px; right:-1px; opacity:0; pointer-events:none;
    z-index:1; transition:opacity .3s, top .3s;
}
nav.sidenav .option:hover > .dropdown{opacity:1; top:100%; pointer-events:all;}
nav.sidenav .option > .dropdown > *{
    display:flex; align-items:center; justify-content:center; width:100%; height:3.4125rem;
    text-decoration:none; border-radius:0; border-top:0; border-bottom:1px solid transparent;
    border-left:1px solid transparent; border-right:1px solid transparent;
    font-size:1.5rem; font-weight:400;
}
nav.sidenav .option > .dropdown > *:first-child{border-top:1px solid transparent;}
nav.sidenav .option .flag{
    width:1.5rem; height:1rem; border-radius:.125rem; background-size:cover;
    background-position:center;
}

nav.sidenav .scroll-wrapper{
    width:100%; height:calc(100% - 11.5rem); max-height:calc(100% - 11.5rem);
    overflow-x:hidden; overflow-y:auto; border-top:1px solid transparent;
}

nav.sidenav .empty{display:none;}
nav.sidenav .menu{position:relative;}
nav.sidenav .menu .dropdown-toggle{
    position:absolute; right:0; top:0; width:3.75rem; height:3.3125rem; text-align:center;
    line-height:3.3125rem; cursor:pointer; font-size:.875rem;
}
nav.sidenav .menu .dropdown-toggle > i{transition:transform .3s, color .3s;}
nav.sidenav .menu .dropdown-toggle.active > i{transform:rotate(90deg);}
nav.sidenav .has-children > a{position:relative;}
nav.sidenav .has-children > a::after{
    content:''; position:absolute; top:0; bottom:0; right:3.6875rem; width:1px;
}

nav.sidenav .menu > a{
    display:block; position:relative; width:100%; height:auto; text-decoration:none;
    padding:1rem 2rem 1rem 1rem; margin:0; font-size:1.25rem; font-weight:400;
    border-bottom:1px solid transparent; min-height:3.3125rem; transition:color .3s, background .3s;
}
nav.sidenav .menu > a i{display:inline-block; font-size:.875rem; width:2rem;}

nav.sidenav .submenu-container{display:none;}
nav.sidenav .submenu-container .hero{display:none;}
nav.sidenav .submenu{position:relative;}
nav.sidenav .submenu > a{
    display:block; width:100%; text-decoration:none; padding:1rem 2rem 1rem 1rem;
    margin:0; font-size:1.25rem; font-weight:400; min-height:3.3125rem;
    border-bottom:1px solid transparent; transition:background .3s, color .3s;
}

nav.sidenav .child-container{display:none;}
nav.sidenav .submenu .child > a{
    display:block; width:100%; text-decoration:none; padding:1rem 2rem 1rem 1rem;
    margin:0; font-size:1.25rem; font-weight:400; border-bottom:1px solid transparent;
    transition:background .3s, color .3s;
}

nav.sidenav .has-children > a{padding:1rem 4.75rem 1rem 1rem!important;}

nav.sidenav ~ .sidenav-filter{
    display:none; position:fixed; top:0; left:0; width:100%; height:100vh; cursor:pointer; z-index:97;
    background:#000; opacity:0; pointer-events:none; transition:opacity .5s;
}

@media screen and (max-width:1199.98px){
    nav.sidenav{display:block;}
    nav.sidenav.active{transform:translateX(0);}
    nav.sidenav ~ .sidenav-filter{display:block;}
    nav.sidenav.active ~ .sidenav-filter{opacity:.5; pointer-events:all;}
}


/* Footer */
nav.footer{
    padding:2.75rem 0 3rem 0; font-size:1.125rem; font-weight:200; border-top:1px solid transparent;
}
nav.footer a{font-size:1.125rem; text-decoration:none; transition:all .3s;}
nav.footer .contents{width:100%; display:flex; flex-wrap:wrap; justify-content:space-between;}
nav.footer .top-footer{border-bottom:1px solid transparent;}
nav.footer .top-footer .content{
    position:relative; width:25%; padding:0 1.25rem 2rem 1.25rem;
    border-left:1px solid transparent;
}
nav.footer .top-footer .content:last-child{padding:0 0 2rem 1.25rem;}
nav.footer .top-footer .content::after{
    content:''; position:absolute; top:0; left:-1px; width:.5rem; height:.5rem;
}
nav.footer .content h1{
    margin:0; font-size:1.5rem; font-weight:300; line-height:1; transform:translateY(-.5rem);
}
nav.footer .content .links, nav.footer .content .socials{margin:0; padding:0; list-style:none;}
nav.footer .content .links > li{margin:.375rem 0 0 0; padding:0;}
nav.footer .content .links i{display:inline-block; font-size:.75rem; width:1.25rem;}
nav.footer .content .socials{display:flex; align-items:center; flex-wrap:wrap; margin:1.75rem 0 0 0;}
nav.footer .content .socials a{
    display:flex; justify-content:center; align-items:center; width:2.3125rem; height:2.3125rem;
    border-radius:50%; border:1px solid transparent; font-size:1.125rem; margin:.3125rem .3125rem 0 0;
}
nav.footer .content p{margin:.375rem 0 0 0; font-size:1.25rem;}
nav.footer .bottom-footer, nav.footer .bottom-footer a{font-size:1rem;}
nav.footer .bottom-footer .content{position:relative; width:50%; padding:1rem 1.25rem 0 0;}
nav.footer .bottom-footer .content:last-child{padding:1rem 0 0 0;}
nav.footer .imgs{display:flex; width:100%; flex-wrap:wrap; margin:.5rem 0 0 0;}
nav.footer .imgs > img{
    display:block; height:1.75rem; width:auto; margin:.25rem .25rem 0 0; border-radius:.25rem;
}
@media screen and (max-width:991.98px){
    nav.footer .top-footer .content{width:50%;}
}
@media screen and (max-width:767.98px){
    nav.footer .top-footer .content{width:100%; padding:0 0 2.5rem 1.25rem!important;}
    nav.footer .bottom-footer{text-align:center;}
    nav.footer .bottom-footer .content{width:100%; padding:1rem 0 0 0!important;}
    nav.footer .imgs{justify-content:center;}
    nav.footer .imgs > img{margin:.125rem;}
}


/* Back to Top */
.back-to-top{
    display:block; text-decoration:none; width:3rem; height:3rem; border-radius:.3125rem;
    text-align:center; line-height:3.25rem; font-size:1.25rem; opacity:0; z-index:90;
    position:fixed; bottom:1rem; right:1rem; border:1px solid transparent;
    pointer-events:none; transition:opacity .3s;
}
.back-to-top.active{opacity:1; pointer-events:all;}


/* Global Search */
.global-search-container{
    display:block; position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:100;
    opacity:0; pointer-events:none; background:rgba(0,0,0,.65);
}
.global-search-container:not(.use-gsap){transition:opacity .45s;}
.global-search-container.active{opacity:1; pointer-events:all;}
.global-search-container > .wrapper{
    position:relative; width:100%; height:100%; padding:1.5rem 1.5rem 6rem 1.5rem;;
    display:flex; align-items:center;
}
.global-search-container .hamburger{position:absolute; top:2.5rem; right:2.5rem; transform:scale(1.2);}
.global-search-container form{width:100%; max-width:500px; margin:0 auto; position:relative;}
.global-search-container .input-container{position:relative;}
.global-search-container input[type=text]{
    width:100%; font-size:1.875rem; border:1.5px solid transparent; border-radius:.3125rem;
    padding:.75rem 3.5rem .75rem .75rem; margin:0; box-shadow:none; transition:border-color .3s;
}
.global-search-container button{
    position:absolute; top:0; bottom:0; right:0; width:3.5rem; background:transparent;
    box-shadow:none; outline:none; border:0; font-size:1.75rem; padding:0; text-align:center;
    cursor:pointer; transition:color .3s;
}


/* Page Loader */
.page-loader{position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:101;}
.page-loader > .wrapper{
    position:relative; width:100%; height:100%; display:flex; align-items:center; justify-content:center;
}
.page-loader > .wrapper::before, .page-loader > .wrapper::after{
    content:''; position:absolute; top:-50vw; bottom:-50vw; width:100%; transform:rotate(30deg);
    z-index:101; transition:left .9s, right .9s; transition-delay:.45s;
}
.page-loader > .wrapper::before{right:50%; background:#eee; transform-origin:center right;}
.page-loader > .wrapper::after{left:50%; background:#fff; transform-origin:center left;}
.page-loader.fade-out > .wrapper::before{right:calc(80vw + 80vh);}
.page-loader.fade-out > .wrapper::after{left:calc(80vw + 80vh);}
.page-loader .loader{
    position:relative; border:.5rem solid #ddd; border-top:.5rem solid #0d838d; z-index:102;
    border-radius:50%; width:6rem; height:6rem; animation:loaderSpin 2s linear infinite;
    transition:opacity .45s;
}
.page-loader.fade-out .loader{opacity:0;}
@keyframes loaderSpin{ 0%{transform:rotate(0deg);} 100%{transform:rotate(360deg);} }
