
/* Topnav */
nav.topnav{
    position:fixed; top:0; left:0; width:100%; transition:top .3s; z-index:95;
    line-height:1.4;
}
nav.topnav > .topnav-wrapper{position:relative; width:100%;}
nav.topnav .top-container{width:100%; background:#ba9443; padding:.25rem 0;}
nav.topnav .bottom-container{
    width:100%; background:#fff; box-shadow:rgba(0,0,0,.08) 0px 6px 12px;
}

nav.topnav .logo{
    position:absolute; top:0; bottom:-.75rem; background:#fff; padding:.25rem 1.25rem;
    border-radius:0 0 .4375rem .4375rem; display:flex; align-items:center; justify-content:center;
    box-shadow:0 0 15px 2px rgba(0,0,0,.25);
}
nav.topnav .logo > img{display:block; width:4rem; height:auto;}

nav.topnav .items{display:flex; align-items:center; justify-content:flex-end;}
nav.topnav .item{position:relative; margin:.25rem 0; padding:0 1.75rem;}
nav.topnav .item::after{
    content:''; position:absolute; top:.1875rem; bottom:.1875rem; right:0;
    width:.5px; background:#fff;
}
nav.topnav .item:last-child{padding-right:0;}
nav.topnav .item:last-child::after{display:none;}
nav.topnav .item > a{
    display:inline-block; color:#fff; font-size:.875rem; line-height:1; font-weight:200;
    transition:color .25s, opacity .25s;
}
nav.topnav .item > a:hover{opacity:.7;}
nav.topnav .item > a > i{font-size:1.0625rem;}

nav.topnav .menu-container{width:100%; display:flex; align-items:center; justify-content:flex-end;}
nav.topnav .menu{position:relative;}
nav.topnav .menu > a{
    display:block; padding:1.375rem 0; margin:0 0 0 2.5rem; font-size:.9375rem; color:#000;
    transition:color .25s;
}
nav.topnav .menu:hover > a, nav.topnav .menu.active > a{color:#ba9443;}
nav.topnav .submenu-container{
    display:block; position:absolute; top:100%; opacity:0; pointer-events:none;
    transition:top .3s, opacity .3s;
}
nav.topnav .menu:hover > .submenu-container{top:calc(100% - .5rem); opacity:1; pointer-events:auto;}
nav.topnav .submenu{position:relative;}
nav.topnav .submenu > a{
    display:block; padding:.75rem; font-size:.9375rem; color:#fff; background:#ba9443;
    text-align:center; white-space:nowrap; transition:background .25s;
}
nav.topnav .submenu:hover > a{background:#185f3f;}
nav.topnav .submenu:nth-child(1)::before{
    content:''; position:absolute; top:-.3125rem; left:calc(50% - .3125rem);
    width:.625rem; height:.625rem; background:#ba9443; transform:rotate(45deg);
    transition:background .25s;
}
nav.topnav .submenu:nth-child(1):hover::before{background:#185f3f;}

nav.topnav .menu-mobile{
    display:none; align-items:center; justify-content:flex-end; padding:.375rem 0;
}
nav.topnav .menu-mobile > .sidenav-toggle{padding:.75rem 0 .75rem .75rem;}
nav.topnav .menu-mobile > .search-btn{
    display:block; font-size:1.5625rem; color:#000; padding:.125rem .625rem;
}
nav.topnav .menu-mobile > *{transition:opacity .25s;}
nav.topnav .menu-mobile > *:hover{opacity:.7;}

nav.topnav + .topnav-spacer{display:block; width:100%; height:6.375rem; transition:height .3s;}

@media screen and (max-width:1199.98px){
    nav.topnav .menu > a{margin:0 0 0 1.75rem;}
}
@media screen and (max-width:991.98px){
    nav.topnav .menu-pc{display:none!important;}
    nav.topnav .menu-mobile{display:flex;}
    nav.topnav .top-container{padding:.125rem 0;}
    nav.topnav .logo{bottom:-.5rem;}
    nav.topnav .logo > img{width:3.25rem;}
    nav.topnav .item{padding:0 1.5rem;}
    nav.topnav .item:nth-child(2){padding-right:0;}
    nav.topnav .item:nth-child(2)::after{display:none;}
    nav.topnav + .topnav-spacer{height:5.5rem;}
}
@media screen and (max-width:767.98px){
    nav.topnav .item{padding:0 1.25rem;}
}


/* Sidenav */
nav.sidenav{
    display:none; position:fixed; top:0; right:0; width:340px; height:100vh; z-index:98;
    background:#fff; transform:translateX(340px); line-height:1.4; transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav .sidenav-toggle{
    position:absolute; top:0; right:0; width:3.75rem; height:3.75rem; cursor:pointer;
    display:flex; align-items:center; justify-content:center;
}
nav.sidenav .scroll-wrapper{
	width:100%; margin:4rem 0; max-height:calc(100vh - 8rem); overflow-x:hidden;
	overflow-y:auto; border-top:1px solid #ddd;
}

nav.sidenav .menu{position:relative;}
nav.sidenav .menu > a, nav.sidenav .submenu > a{
    display:block; position:relative; width:100%; height:auto; text-decoration:none; color:#000;
    padding:.875rem 2rem .875rem 1rem; margin:0; font-size:1rem; font-weight:300; line-height:1.25;
    border-bottom:1px solid #ddd; transition:color .25s, background .25s;
}
nav.sidenav .menu > a:hover{color:#ba9443;}
nav.sidenav .menu.has-submenu > a::after{
	content:'\f2f9'; position:absolute; top:0; bottom:0; right:.75rem; display:flex;
	font:normal normal normal 14px/1 'Material-Design-Iconic-Font'; pointer-events:none;
    color:#050505; font-size:1.25rem; align-items:center;
    transition:transform .75s, color .25s;
}
nav.sidenav .menu.has-submenu:hover > a::after{color:#ba9443;}
nav.sidenav .menu.has-submenu.opened > a::after{transform:rotate(180deg);}
nav.sidenav .submenu-container{display:none;}
nav.sidenav .submenu > a{color:#fff; background:#ba9443;}
nav.sidenav .submenu:hover > a{background:#185f3f;}

nav.sidenav + .sidenav-filter{
    display:none; position:fixed; top:0; left:0; width:100%; height:100vh; cursor:pointer; z-index:97;
    background:#000; opacity:0; pointer-events:none; transition:opacity .5s;
}

@media screen and (max-width:1199.98px){
    nav.sidenav{display:block;}
    nav.sidenav.active{transform:translateX(0);}
    nav.sidenav + .sidenav-filter{display:block;}
    nav.sidenav.active + .sidenav-filter{opacity:.6; pointer-events:all;}
}


/* Footer */
nav.footer{width:100%; padding:4rem 0; background:#4a302c; line-height:1.4;}
nav.footer .items{width:100%; display:flex; align-items:center; flex-wrap:wrap;}
nav.footer .item{display:flex; align-items:center; padding:.875rem 2rem .875rem 0;}
nav.footer .item:nth-child(2){margin-left:auto;}
nav.footer .item:nth-child(3){padding-right:0;}
nav.footer .item .icon{
    width:2.5rem; height:2.5rem; border-radius:50%; color:#fff; background:#d6a94e;
    text-align:center; font-size:1.5625rem; line-height:2.5rem; margin:0 .75rem 0 0;
}
nav.footer .item .text-container{width:calc(100% - 3.25rem); color:#fff;}
nav.footer .item h4{margin:0; font-weight:300; font-size:1.3125rem;}
nav.footer .item h6{margin:0; font-weight:300; font-size:1rem;}
nav.footer .item p{margin:0; font-weight:200; font-size:1rem; opacity:.8;}
nav.footer .item a{color:#fff; white-space:nowrap; transition:color .25s;}
nav.footer .item a:hover{color:#d6a94e;}
@media screen and (max-width:1199.98px){
    nav.footer .item:nth-child(1){width:100%; padding-right:0;}
    nav.footer .item:nth-child(2){margin-left:0;}
}
@media screen and (max-width:767.98px){
    nav.footer .item .icon{
        width:2.25rem; height:2.25rem; font-size:1.375rem; line-height:2.25rem;
    }
    nav.footer .item .text-container{width:calc(100% - 3rem); color:#fff;}
    nav.footer .item h4{font-size:1.125rem;}
    nav.footer .item h6{font-size:.9375rem;}
    nav.footer .item p{margin:.25rem 0 0 0; font-size:.875rem;}
}
@media screen and (max-width:575.98px){
    nav.footer .item{width:100%;}
    nav.footer .item h4{font-size:1rem;}
    nav.footer .item h6{font-size:.875rem;}
    nav.footer .item p{font-size:.8125rem;}
}


/* Policy */
/* body.policy-opened{} */


/* Back to Top */
.back-to-top{
    display:block; text-decoration:none; text-align:center; opacity:0; z-index:90;
    position:fixed; bottom:3.5rem; right:1.5rem; pointer-events:none; transition:opacity .25s;
}
.back-to-top.active{opacity:1; pointer-events:all;}
.back-to-top .icon{
    width:2.5rem; height:2.5rem; border-radius:50%; color:#fff; background:#d6a94e;
    text-align:center; margin:0 auto; font-size:2.125rem; line-height:2.5rem;
    transition:background .25s;
}
.back-to-top:hover .icon{background:#185f3f;}
.back-to-top p{
    margin:.25rem 0 0 0; font-size:.5625rem; color:#000; font-weight:500; letter-spacing:.025rem;
}
