.tree-container {margin:2rem auto 24rem auto;}

.tree-container *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.tree-container .cf:before, .tree-container .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.tree-container .cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.tree-container .cf {
    *zoom: 1;
}

.tree-container .content{
	width: 100%;
	max-width: 1142px;
	margin: 0 auto;
	padding: 0 20px;
}

.tree-container a:focus{
	outline: 4px dashed #f7f7f7;
}

@media screen and (max-width: 767px){
	.tree-container .content{
		padding: 0 20px;
	}	
}

.tree-container ul{
	padding: 0;
	margin: 0;
	list-style: none;		
}

.tree-container ul a, .tree-container ul .node{
    display: flex;
    align-items: center;
    justify-content: center;
	background: #ccc;
	text-align: center;
	overflow: hidden;
    font-size: 20px;
    font-weight: 300;
	text-decoration: none;
	color: #fff;
    height: auto;
    min-height: 60px;
	margin-bottom: -26px;
	box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
    transition: all linear .1s;
    border-radius: .25rem!important;
    padding: 6px 12px;
}

@media print {
    .tree-container ul a, .tree-container ul .node{
        border: 4px solid #000;
    }
}

@media screen and (max-width: 767px){
	.tree-container ul a, .tree-container ul .node{
		font-size: 1em;
	}
}


.tree-container ul a span, .tree-container ul .node span{
	display: block;
}

.tree-container .administration > li > a, 
.tree-container .administration > li > .node{
	margin-bottom: 25px;
}

.tree-container .director > li > a, 
.tree-container .director > li > .node{
	width: 50%;
	margin: 0 auto 0px auto;
}

.tree-container .subdirector:after{
	content: "";
	display: block;
	width: 0;
	height: 130px;
	border-left: 4px solid #777;
	left: 45.45%;
	position: relative;
}

@media print {
    .tree-container .subdirector:after{
        border-left: 4px solid #777;
    }
}

.tree-container .subdirector,
.tree-container .departments{
	position: absolute;
	width: 100%;
}

.tree-container .subdirector > li:first-child,
.tree-container .departments > li:first-child{	
	width: 18.59894921190893%;
	height: 64px;
	margin: 0 auto 92px auto;		
	padding-top: 25px;
	border-bottom: 4px solid #777;
	z-index: 1;	
}

@media print {
    .tree-container .subdirector > li:first-child,
    .tree-container .departments > li:first-child{
        border-bottom: 4px solid #000;
    }
}

.tree-container .subdirector > li:first-child{
	float: right;
	right: 27.2%;
	border-left: 4px solid #777;
}

@media print {
    .tree-container .subdirector > li:first-child{
	    border-left: 4px solid #777;
    }   
}

.tree-container .departments > li:first-child{	
	float: left;
	left: 27.2%;
	border-right: 4px solid #777;	
}

@media print {
    .tree-container .departments > li:first-child{
        border-right: 4px solid #777;	
    }
}

.tree-container .subdirector > li:first-child a,
.tree-container .departments > li:first-child a,
.tree-container .subdirector > li:first-child .node,
.tree-container .departments > li:first-child .node{
	width: 100%;
}

.tree-container .subdirector > li:first-child a,
.tree-container .subdirector > li:first-child .node{	
	left: 25px;
}

@media screen and (max-width: 767px){
	.tree-container .subdirector > li:first-child,
	.tree-container .departments > li:first-child{
		width: 40%;	
	}

	.tree-container .subdirector > li:first-child{
		right: 10%;
		margin-right: 4px;
	}

	.tree-container .subdirector:after{
		left: 49.8%;
	}

	.tree-container .departments > li:first-child{
		left: 10%;
		margin-left: 4px;
	}
}


.tree-container .departments > li:first-child a,
.tree-container .departments > li:first-child .node{
	right: 25px;
}

.tree-container .department:first-child,
.tree-container .departments li:nth-child(2){
	margin-left: 0;
	clear: left;	
}

.tree-container .departments:after{
	content: "";
	display: block;
	position: absolute;
	width: 81.1%;
	height: 22px;	
	border-top: 4px solid #777;
	border-right: 4px solid #777;
	border-left: 4px solid #777;
	margin: 0 auto;
	top: 130px;
	left: 9.1%
}

@media print {
    .tree-container .departments:after{
        border-top: 4px solid #777;
        border-right: 4px solid #777;
        border-left: 4px solid #777;
    }
}

@media screen and (max-width: 767px){
	.tree-container .departments:after{
		border-right: none;
		left: 0;
		width: 49.8%;
	}  
}

@media screen and (min-width: 768px){
	.tree-container .department:first-child:before,
    .tree-container .department:last-child:before{
        border:none;
    }
}

.tree-container .department:before{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 22px;
	border-left: 4px solid #777;
	z-index: 1;
	top: -22px;
	left: 50%;
	margin-left: -4px;
}

@media print {
    .tree-container .department:before{
        border-left: 4px solid black;
    }
}

.tree-container .department{
	border-left: 4px solid #777;
	width: 18.59894921190893%;
	float: left;
	margin-left: 1.751313485113835%;
	margin-bottom: 60px;
}

@media print {
    .tree-container .department{
	    border-left: 4px solid #000;
    }
}

.tree-container .lt-ie8 .department{
	width: 18.25%;
}

@media screen and (max-width: 767px){
	.tree-container .department{
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.tree-container .department:before{
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 60px;
		border-left: 4px solid #777;
		z-index: 1;
		top: -60px;
		left: 0%;
		margin-left: -4px;
	}

	.tree-container .department:nth-child(2):before{
		display: none;
	}
}

.tree-container .department > a, .tree-container .department > .node{
	margin: 0 0 -26px -4px;
	z-index: 1;
}

.tree-container .department > a:hover{	
	height: 80px;
}

.tree-container .department > ul{
	margin-top: 0px;
	margin-bottom: 0px;
}

.tree-container .department li{	
	padding-left: 25px;
	border-bottom: 4px solid #777;
	height: 80px;	
}

@media print {
    .tree-container .department li{
        border-bottom: 4px solid #000;
    }
}

.tree-container .department li a, .tree-container .department li .node{
	background: #fff;
	top: 48px;	
	position: absolute;
	z-index: 1;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 60px;
	vertical-align: middle;
	right: -1px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%) !important;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0)))!important;
	background-image: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: -o-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: linear-gradient(135deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 );
}

.tree-container .department li a:hover{
	box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.1);
	height: 80px;
	width: 95%;
	top: 39px;
	background-image: none!important;
}

/* Department/ section colors */
.tree-container .department.dep-a a, 
.tree-container .department.dep-a .node{ background: #FFD600; }
.tree-container .department.dep-b a, 
.tree-container .department.dep-b .node{ background: #AAD4E7; }
.tree-container .department.dep-c a, 
.tree-container .department.dep-c .node{ background: #FDB0FD; }
.tree-container .department.dep-d a, 
.tree-container .department.dep-d .node{ background: #A3A2A2; }
.tree-container .department.dep-e a, 
.tree-container .department.dep-e .node{ background: #f0f0f0; }

.tree-container ul .node.root{
    background-image:linear-gradient(to right, #eee, #fff, #fff, #fff, #eee);
    width:220px; padding:27px 12px 6px 12px; color:#000; overflow:visible;
}
.tree-container ul .node.root > span{position:relative; font-size:25px; font-weight:400; color:#000;}
.tree-container ul .node.root > span::before{
    content:''; position:absolute; top:-45px; left:calc(50% - 22px); width:44px; height:44px;
    background:url('../img/icon/anamai.png') center/100% auto no-repeat;
}

.tree-container ul .node{background-image:linear-gradient(to right, #0c6773, #22828a, #0c6773);}
.tree-container .department.dep-a .node{background-image:linear-gradient(to right, #0f5747, #26765d, #0f5747);}
.tree-container .department.dep-b .node{background-image:linear-gradient(to right, #9db539, #b1c447, #9db539);}
.tree-container .department.dep-c .node{background-image:linear-gradient(to right, #34adb5, #42bdc2, #34adb5);}
.tree-container .department.dep-d .node{background:#353535;}
.tree-container .department.dep-e .node{background:#ea6b16;}
.tree-container .department.dep-f .node{background:#ebaa2a;}
