/* Reset */
html, body{
    padding:0; margin:0; overflow-x:hidden; overflow-y:auto; font-family:'DB Ozone X';
    font-size:16px; font-weight:300; line-height:1.1;
}
*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}
img{display:block; border:0;}
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=phone], select, textarea{font-family:'DB Ozone X';}
@media screen and (max-width:1199.98px){
    html.sidenav-opened, body.sidenav-opened{overflow-y:hidden!important;}
}



/* Colors */
.color0{color:#47484d!important; color:var(--color0)!important;}
.color1{color:#1d684a!important; color:var(--color1)!important;}
.color2{color:#c0ca67!important; color:var(--color2)!important;}
.color3{color:#284e51!important; color:var(--color3)!important;}
.color4{color:#0d838d!important; color:var(--color4)!important;}
.color5{color:#d7d8d0!important; color:var(--color5)!important;}
.bg-color0{background:#47484d!important; background:var(--color0)!important;}
.bg-color1{background:#1d684a!important; background:var(--color1)!important;}
.bg-color2{background:#c0ca67!important; background:var(--color2)!important;}
.bg-color3{background:#284e51!important; background:var(--color3)!important;}
.bg-color4{background:#0d838d!important; background:var(--color4)!important;}
.bg-color5{background:#d7d8d0!important; background:var(--color5)!important;}

.color-white{color:#fff!important;}
.color-black{color:#000!important;}
.bg-white{background:#fff!important;}
.bg-black{background:#000!important;}


/* Buttons */
.btns{display:block; width:100%; margin:.875rem 0 0 0;}
.btn, .btn:focus{
    text-decoration:none; cursor:pointer; text-align:center; 
    border-radius:.3125rem; border:1px solid transparent; box-shadow:none; transition:all .3s;
}
.btn:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-action, .btn.btn-action:focus{
    display:inline-block; position:relative; font-size:1.1875rem; font-weight:300;
    min-width:9.25rem; padding:.3125rem .875rem; margin:.125rem 0;
}
.btn.btn-action.btn-sm, .btn.btn-action.btn-sm:focus{
    font-size:1.0625rem; padding:.25rem .875rem; min-width:6.5rem;
}

.btn.btn-primary:hover{box-shadow:none;}
.btn.btn-primary:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.prev-icon::before, .btn.next-icon::after{
    font-family:'Font Awesome 5 Free'; font-weight:900; font-size:48%;
}
.btn.prev-icon::before{content:'\f053'; margin:0 .5rem 0 0;}
.btn.next-icon::after{content:'\f054'; margin:0 0 0 .5rem;}


/* Fields & Inputs */
.field{margin:.625rem 0 0 0;}
.field label{font-size:1.3125rem; font-weight:400; margin:0;}

.field > .control{position:relative; width:100%; margin:.25rem 0 0 0;}
.field > .control:first-child{margin:0;}

.field > .control.checkbox-control, .field > .control.radio-control{display:flex;}
.field > .control.checkbox-control > input[type=checkbox],
.field > .control.radio-control > input[type=radio]{position:absolute; opacity:0;}
.field > .control.checkbox-control > label, .field > .control.radio-control > label{
    width:100%; padding:0 0 0 1.625rem; cursor:pointer;
}
.field > .control.checkbox-control > label::before, .field > .control.checkbox-control > label::after,
.field > .control.radio-control > label::before, .field > .control.radio-control > label::after{
    content:''; display:block; position:absolute; border-radius:50%;
}
.field > .control.checkbox-control > label::before, .field > .control.radio-control > label::before{
    top:.1875rem; left:0; width:.75rem; height:.75rem; border:1px solid transparent;
    transition:border-color .3s;
}
.field > .control.checkbox-control > label::after, .field > .control.radio-control > label::after{
    top:.375rem; left:.1875rem; width:.5rem; height:.5rem; transition:background .3s;
}


/* Hamburger */
.hamburger{cursor:pointer;}
.hamburger > *{width:2rem; height:.14rem; transition:all .5s;}
.hamburger > *:nth-child(2){margin:.375rem 0;}
.hamburger.active > *:nth-child(1){
    -webkit-transform:rotate(-45deg)translate(-.375rem, .375rem);
    transform:rotate(-45deg)translate(-.375rem, .375rem);
}
.hamburger.active > *:nth-child(2){opacity:0;}
.hamburger.active > *:nth-child(3){
    -webkit-transform:rotate(45deg)translate(-.375rem,-.375rem);
    transform:rotate(45deg)translate(-.375rem, -.375rem);
}


/* Breadcrumb */
.breadcrumb{width:100%;}
.breadcrumb .wrapper{position:relative;}
.breadcrumb .breadcrumb-container{
    position:absolute; top:0; right:0; border-radius:0 0 .875rem .875rem; padding:.25rem .625rem;
    border-left:1px solid transparent; border-bottom:1px solid transparent;
    border-right:1px solid transparent; text-align:center; min-width:16rem;
}
.breadcrumb a{
    display:inline-block; text-decoration:none; margin:.125rem .5rem; font-size:1.0625rem;
    transition:color .3s;
}
.breadcrumb a::before{
    content:'\f054'; font-family:'Font Awesome 5 Free'; font-weight:900; font-size:48%;
    margin:0 .375rem 0 0;
}
@media screen and (max-width:767.98px){
    .breadcrumb a{font-size:1rem;}
}


/* Container */
.container{width:1140px; margin-left:auto; margin-right:auto;}
@media screen and (max-width:1199.98px){
    .container{width:960px;}
}
@media screen and (max-width:991.98px){
    .container{width:720px;}
}
@media screen and (max-width:767.98px){
    .container{width:540px;}
}
@media screen and (max-width:575.98px){
    .container{width:calc(100% - 30px);}
}

/* Section */
.section-padding{padding:4rem 0;}
@media screen and (max-width:991.98px){
    .section-padding{padding:3rem 0;}
}
@media screen and (max-width:575.98px){
    .section-padding{padding:2.5rem 0;}
}


/* General */
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}

.text-xl{font-size:128%!important;}
.text-lg{font-size:114%!important;}
.text-sm{font-size:90%!important;}
.text-xs{font-size:80%!important;}

.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.op-10{opacity:.1}.op-20{opacity:.2}.op-30{opacity:.3}.op-40{opacity:.4}.op-50{opacity:.5}
.op-60{opacity:.6}.op-70{opacity:.7}.op-80{opacity:.8}.op-90{opacity:.9}.op-100{opacity:1}

.no-margin{margin:0!important;}

.d-block{display:block;}
.d-flex{display:flex;}
.d-inline{display:inline;}
.d-inline-block{display:inline-block;}
.d-none{display:none;}


/* Calendar */
.calendar-container{width:100%; padding:1rem;}
.calendar-container.border-top{border-top:1px solid transparent;}
.calendar-container.border-bottom{border-bottom:1px solid transparent;}
.calendar-container .calendar header .month{font-size:2.125rem;}
.calendar-container .calendar header .month .year{font-size:1.375rem; font-weight:200;}
.calendar-container .calendar header .simple-calendar-btn{
    border-color:transparent; transform:none; margin:0; background:none;
    font-size:1.0625rem; transition:opacity .3s;
}
.calendar-container .calendar header .simple-calendar-btn:hover{opacity:.6;}
.calendar-container .calendar header .simple-calendar-btn::before{display:none!important;}
.calendar-container .calendar header .simple-calendar-btn::after{
    font-family:'Font Awesome 5 Free'; font-weight:900;
}
.calendar-container .calendar header .btn-prev::after{content:'\f060';}
.calendar-container .calendar header .btn-next::after{content:'\f061';}
.calendar-container .calendar table{border-top:1px solid transparent; margin:.5rem 0 0 0;}
.calendar-container .calendar td{padding:0; font-size:1rem;}
.calendar-container .calendar thead td{
    padding:.5rem 0 .375rem 0; font-size:1.125rem; font-weight:600;
}
.calendar-container .calendar .day{
    width:2.3125rem; height:auto; line-height:1.5; border-radius:.25rem;
    border-color:transparent; transition:border-color .3s;
}
.calendar-container .calendar .day.has-event::after{display:none;}
.calendar-container .calendar .day.wrong-month{opacity:.35;}
.calendar-container .calendar .event-container .event{
    padding:.5rem 1rem; margin-bottom:.5rem; font-size:1.0625rem; font-weight:300;
}
.calendar-container .calendar .event-container .event-date{margin-bottom:.3125rem;}
.calendar-container .calendar .event-container .event-summary{font-size:1.25rem; font-weight:500;}
@media screen and (max-width:991.98px){
    .calendar-container .calendar header .month{font-size:2rem;}
    .calendar-container .calendar header .month .year{font-size:1.3125rem;}
    .calendar-container .calendar header .simple-calendar-btn{font-size:.9375rem;}
}


/* Table */
.table-wrapper{width:100%; overflow-x:auto; overflow-y:hidden; padding:.875rem 0;}
table.table{width:100%; border-spacing:0;}
table.table td{
    padding:.375rem .625rem .375rem 0; font-size:1.3125rem; font-weight:300;
    border-bottom:1px solid transparent;
}
table.table td:last-child{padding:.375rem 0 .375rem 0; text-align:right;}
table.table tbody > tr:last-child > td{border-color:transparent;}
table.table .icon{
    display:inline-block; width:1.75rem; height:1.75rem; border-radius:.25rem;
    font-size:.875rem; text-align:center; line-height:1.75rem;
}
table.table .icon::before{font-family:'Font Awesome 5 Free'; font-weight:900;}
table.table .icon.icon-download::before{content:'\f019';}
table.table .icon.icon-dot{width:.5rem; height:.5rem; border-radius:0;}
table.table .img-icon{display:inline-block; height:1rem; width:auto;}

table.table.asset-table td:nth-child(2){min-width:8rem;}
table.table.asset-table td:nth-child(3){min-width:3.5rem;}

table.table.about-table td{border-bottom:0px;}
table.table.about-table td:nth-child(3){border-left:1px solid transparent; padding-left:.625rem;}
table.table.about-table td:last-child{text-align:left;}
table.table.about-table td:nth-child(2){min-width:6.25rem;}
table.table.about-table td:nth-child(3){min-width:10rem;}
table.table.about-table td:nth-child(4){min-width:7rem;}

@media screen and (max-width:991.98px){
    table.table td{font-size:1.25rem;}
}


/* Tab */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{
    position:relative; width:100%; overflow-x:auto; overflow-y:hidden; display:flex; flex-wrap:wrap;
}
.tab-container .tabs::before{content:''; position:absolute; bottom:0; left:0; right:0; height:.8px;}
.tab-container .tab{
    position:relative; display:flex; align-items:center; cursor:pointer; line-height:1; opacity:.5;
    border:1px solid transparent; border-radius:.25rem .25rem 0 0; padding:.5rem .625rem .5rem .5rem;
    transform:translateY(1px); transition:all .3s;
}
.tab-container .tab:hover{opacity:1;}
.tab-container .tab.active{opacity:1;}
.tab-container .tab .icon{
    width:2.625rem; height:2.625rem; border-radius:.25rem; text-align:center;
    line-height:2.625rem;
}
.tab-container .tab .text-container{overflow:hidden; margin:0 0 0 .5rem;}
.tab-container .tab .title{font-size:1.1875rem; font-weight:500; white-space:nowrap;}
.tab-container .tab .title > span{font-weight:300;}
.tab-container .tab .desc{font-size:1.0625rem; padding:0 0 0 1.5rem; white-space:nowrap;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{display:none; position:relative; padding:1rem 0; overflow:hidden;}
.tab-container .tab-content.active{display:block;}
.tab-container .tab-content > *:first-child{margin-top:0;}
.tab-container .tab-content > *:last-child{margin-bottom:0;}
@media screen and (max-width:767.98px){
    .tab-container .tab{border-radius:0;}
    .tab-container .tab .text-container{width:0; margin:0;}
    .tab-container .tab.active .text-container{width:auto; margin:0 0 0 .5rem;}
}


/* Pagination */
.pagination{width:100%; padding:.625rem 0; text-align:center; margin:1.8125rem 0 0 0;}
.pagination.border-top{border-top:1px solid transparent;}
.pagination.border-bottom{border-bottom:1px solid transparent;}
.pagination > .wrapper{
    display:flex; width:100%; align-items:center; justify-content:center; flex-wrap:wrap;
}
.pagination .page-btn{
    display:inline-block; text-decoration:none; height:1.75rem; width:1.75rem; text-align:center;
    line-height:1.75rem; font-size:1.25rem; border-radius:.25rem; font-weight:300; padding:0;
    margin:.125rem; transition:background .3s, color .3s;
}
.pagination .page-btn.active{font-weight:500;}
.pagination .page-btn.page-first, .pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-last{
    width:1.3125rem; border:1px solid transparent; line-height:1.4375rem;
}
.pagination .page-btn.page-first::before, .pagination .page-btn.page-first::after, 
.pagination .page-btn.page-prev::before, .pagination .page-btn.page-next::before,
.pagination .page-btn.page-last::before, .pagination .page-btn.page-last::after{
    font-family:'Font Awesome 5 Free'; font-weight:900;
    font-size:.5625rem; transition:color .3s;
}
.pagination .page-btn.page-first::before, .pagination .page-btn.page-first::after,
.pagination .page-btn.page-prev::before{content:'\f053';}
.pagination .page-btn.page-last::before, .pagination .page-btn.page-last::after,
.pagination .page-btn.page-next::before{content:'\f054';}
.pagination .page-btn.disabled{opacity:.5; pointer-events:none;}


/* Slots */
.slots{
    position:relative; height:100%; padding:0 0 6rem 0; border-radius:.625rem .625rem 0 0;
    -webkit-mask-image:linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000,
        #000, #000, #000, #000, #000, #000, #000, rgba(0,0,0,.5), rgba(0,0,0,0));
    background-size:cover; background-position:center; background-repeat:no-repeat;
    overflow:visible;
}
.slots > .slot{
    position:relative; width:100%; padding:1.5rem 1.5rem 5rem 1.5rem; overflow:visible;
    background-size:cover; background-position:center; background-repeat:no-repeat;
    border-radius:.625rem .625rem 0 0;
}
.slots > .slot:nth-child(2){transform:translateY(-.625rem);}
.slots > .slot:nth-child(3){transform:translateY(-1.25rem);}
@media screen and (max-width:767.98px){
    .slots > .slot{padding:1.5rem 1.5rem 3.5rem 1.5rem;}
    .slots > .slot .ss-header{margin-bottom:1rem;}
}
@media screen and (max-width:575.98px){
    .slots > .slot{padding:1rem 1rem 3rem 1rem;}
}


/* Special & Typography */
.ss-date{font-size:1.1875rem; font-weight:300; margin:.625rem 0 0 0;}
h2, .ss-h1, h2, .ss-h2, h3, .ss-h3, h4, .ss-h4, h5, .ss-h5, h6, .ss-h6{
    display:block; text-decoration:none; font-weight:300;
}
h2, .ss-h2{font-size:2.25rem; margin:.75rem 0 0 0;}
h3, .ss-h3{font-size:1.8125rem; margin:.6875rem 0 0 0;}
h4, .ss-h4{font-size:1.5625rem; margin:.625rem 0 0 0;}
h5, .ss-h5{font-size:1.3125rem; margin:.625rem 0 0 0;}
h6, .ss-h6, p, .ss-p{font-size:1.25rem; margin:.625rem 0 0 0;}
.ss-date + *{margin:0;}
@media screen and (max-width:991.98px){
    h2, .ss-h2{font-size:2rem;}
    h3, .ss-h3{font-size:1.75rem; margin:.6275rem 0 0 0;}
    h4, .ss-h4{font-size:1.5rem;}
}
@media screen and (max-width:767.98px){
    h2, .ss-h2{font-size:1.8125rem;}
    h3, .ss-h3{font-size:1.625rem;}
    h4, .ss-h4{font-size:1.4375rem;}
    p, .ss-p{font-size:1.1875rem;}
}

/* Special List */
.ss-list{padding:0; margin:.5rem 0; width:100%; list-style:none; font-size:1.25rem;}
.ss-list > li{position:relative; padding:.3125rem 0 .3125rem 2rem; margin:0;}
.ss-list > li:before{
    content:''; position:absolute; top:.75rem; left:.8125rem; width:.4375rem; height:.4375rem;
}
@media screen and (max-width:767.98px){
    .ss-list{font-size:1.1875rem;}
}


/* Special Banner */
.ss-banner{position:relative; padding:.75rem 3rem .75rem 1rem;}
.ss-banner.to-left{padding:.75rem 1rem .75rem 3rem; text-align:right;}
.ss-banner::before, .ss-banner::after{content:''; position:absolute; left:0; right:0; height:1px;}
.ss-banner::before{top:0;}
.ss-banner::after{bottom:0;}
.ss-banner ul{padding:0; margin:0; list-style:none; display:flex; align-items:center; flex-wrap:wrap;}
.ss-banner.to-left ul{justify-content:flex-end;}
.ss-banner ul li{
    display:flex; align-items:center; padding:.25rem 1rem; border-right:1px solid transparent;
}
.ss-banner ul li:last-child{padding-right:0; border-right:0px;}
.ss-banner ul li .icon{
    width:1rem; height:1rem; font-size:.625rem; line-height:2; text-align:center;
    border-radius:.1875rem; margin:0 .25rem 0 0;
}
@media screen and (max-width:991.98px){
    .ss-banner ul{display:block;}
    .ss-banner ul li{padding-left:0; padding-right:0; border-right:0px;}
    .ss-banner *{text-align:center;}
    .ss-banner ul li{justify-content:center;}
}
@media screen and (max-width:767.98px){
    .ss-banner{display:block!important; padding:.75rem 1.25rem!important;}
}

/* Special Header */
.ss-header{position:relative; display:block; font-size:1.3125rem; font-weight:300; margin:2.75rem 0 0 0;}
.ss-header:first-child{margin:0;}
.ss-header > *{margin:0;}
.ss-header > h1{font-size:2.5rem; font-weight:400; line-height:.8;}
.ss-header + *{clear:both;}
@media screen and (min-width:768px){
    .ss-header > .ss{
        float:left; font-size:5.375rem; font-weight:300; line-height:.8; transform:translateY(-.25rem);
        color:transparent; background-clip:text; -webkit-background-clip:text;
    }
    .ss-header.ss-header-lg > .ss{font-size:7rem; font-weight:500; padding:0 .5625rem 0 0;}
}
@media screen and (max-width:991.98px){
    .ss-header{margin:2.25rem 0 0 0;}
    .ss-header{font-size:1.25rem;}
    .ss-header > .ss{font-size:5.125rem; transform:translateY(-.25rem);}
    .ss-header > h1{font-size:2.25rem;}
}
@media screen and (max-width:767.98px){
    .ss-header{margin:1.8125rem 0 0 0;}
    .ss-header > .ss, .ss-header > h1{
        display:inline; background-image:none!important; font-size:2.125rem; font-weight:400;
    }
}

/* Special Image & Video */
.ss-img, .ss-video{
    display:block; position:relative; padding:50% 0 0 0; border-radius:.625rem; overflow:hidden;
}
.ss-img.square, .ss-video.square{padding:100% 0 0 0;}
.ss-img.vertical, .ss-video.vertical{padding:140% 0 0 0;}
.ss-img.bradius-0, .ss-video.bradius-0{border-radius:0;}
.ss-img > .img-bg, .ss-video > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; background-repeat:no-repeat; transition:transform .45s;
}
.ss-img:hover > .img-bg, .ss-video:hover > .img-bg{transform:scale(1.1);}

.ss-img > .socials{
    position:absolute; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,.5);
    display:flex; align-items:center; justify-content:center; opacity:0;
    pointer-events:none; transition:opacity .3s;
}
.ss-img:hover > .socials{opacity:1; pointer-events:auto;}
.ss-img > .socials ul{margin:0; padding:0; list-style:none; display:block;}
.ss-img > .socials li{display:inline-block; margin:.0625rem;}
.ss-img > .socials .social{
    display:block; text-decoration:none; width:2.125rem; height:2.125rem; border-radius:50%;
    color:#fff; text-align:center; line-height:2.375rem; font-size:.875rem;
}
.ss-img > .socials .social.social-fw{background:#3b5999;}
.ss-img > .socials .social.social-tw{background:#40cce5;}
.ss-img > .socials .social.social-ig{
    background-image:linear-gradient(to bottom, #d62976, #feda75);
}

.ss-img .tag, .ss-video .tag{
    position:absolute; bottom:2rem; left:0; min-width:35%; padding:0 4rem 0 .75rem;
    display:flex; align-items:center; font-weight:300; line-height:1;
}
.ss-img .tag::before, .ss-img .tag::after, .ss-video .tag::before, .ss-video .tag::after{
    content:''; position:absolute; left:0; right:0; height:1px;
}
.ss-img .tag::before, .ss-video .tag::before{top:0;}
.ss-img .tag::after, .ss-video .tag::after{bottom:0;}
.ss-img .tag .date, .ss-video .tag .date{font-size:3.625rem; margin:0 .625rem 0 0;}
.ss-img .tag .month, .ss-img .tag .year, .ss-video .tag .month, .ss-video .tag .year{
    font-size:1.125rem;
}

.ss-video .play-container{
    position:absolute; top:0; bottom:0; left:0; right:0;
    display:flex; align-items:center; justify-content:center;
}
.ss-video .play-icon{
    display:flex; align-items:center; justify-content:center; text-decoration:none;
    width:3rem; height:3rem; border-radius:50%; border:1px solid transparent;
    font-size:1.25rem; transition:transform .3s;
}
.ss-video .play-icon:hover{transform:scale(1.1);}
.ss-video .play-icon > i{transform:translateX(.125rem);}

@media screen and (max-width:991.98px){
    .ss-img .tag .date, .ss-video .tag .date{font-size:3.5rem; margin:0 .5625rem 0 0;}
    .ss-img .tag .month, .ss-img .tag .year, .ss-video .tag .month, .ss-video .tag .year{
        font-size:1.0625rem;
    }
}
@media screen and (max-width:767.98px){
    .ss-img, .ss-video{padding:60% 0 0 0;}
    .ss-img .tag, .ss-video .tag{bottom:1rem; padding:0 4rem 0 .625rem;}
}
@media screen and (max-width:575.98px){
    .ss-img.square, .ss-video.square{padding:60% 0 0 0;}
}

/* Special Card */
.ss-card{width:100%; display:flex; flex-wrap:wrap;}
.ss-card > .block:nth-child(1){width:9rem; margin:0 1rem 0 0;}
.ss-card > .block:nth-child(2){width:calc(100% - 10rem);}
.ss-card > .block > *:first-child{margin:0;}
@media screen and (max-width:991.98px){
    .ss-card > .block:nth-child(1), .ss-card > .block:nth-child(2){width:100%;}
    .ss-card > .block:nth-child(2){margin:.75rem 0 0 0;}
}

.ss-card-2 .btns{opacity:0; transition:opacity .3s;}
.ss-card-2:hover .btns{opacity:1;}
@media screen and (max-width:767.98px){
    .ss-card-2 .btns{opacity:1;}
}

/* Special Side Menu */
.ss-side-menu{width:100%;}
.ss-side-menu .menu{
    position:relative; display:block; text-decoration:none; padding:1.375rem 1.75rem; width:100%;
    margin:.25rem 0 0 0; overflow:hidden; border-radius:0 .5rem .5rem 0; overflow:hidden;
    transition:width .3s;
}
.ss-side-menu .menu:nth-child(1){margin:0;}
.ss-side-menu .menu.menu-lg{padding:2rem 1.75rem;}
.ss-side-menu .menu:hover{width:calc(100% + 1rem);}
.ss-side-menu .menu .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; background-repeat:no-repeat; transition:transform .3s;
}
.ss-side-menu .menu .text-container{position:relative;}
.ss-side-menu .menu .text-container > *{margin:0;}
.ss-side-menu .menu h3{font-weight:400;}
@media screen and (max-width:991.98px){
    .ss-side-menu{display:flex; justify-content:space-between; flex-wrap:wrap;}
    .ss-side-menu .menu, .ss-side-menu .menu.menu-lg{
        width:calc(50% - .125rem)!important; padding:1.375rem 1.5rem;
        border-radius:0 .4375rem .4375rem 0;
    }
    .ss-side-menu .menu:nth-child(2){margin:0;}
    .ss-side-menu .menu:hover .img-bg{transform:scale(1.1);}
}
@media screen and (max-width:575.98px){
    .ss-side-menu .menu, .ss-side-menu .menu.menu-lg{
        width:100%!important; border-radius:0 .375rem .375rem 0; margin:.1875rem 0 0 0;
    }
    .ss-side-menu .menu:nth-child(1){margin:0;}
    .ss-side-menu .menu:nth-child(2){margin:.1875rem 0 0 0;}
}


/* Special Carousel */
.ss-carousel{position:relative; width:100%; height:auto;}
.ss-carousel > .dots{
    position:relative; display:flex; justify-content:center; align-items:center; 
    padding:1.5rem 0; overflow:hidden;
}
.ss-carousel > .dots > .slick-dots{
    display:flex; position:relative; margin:0; padding:0; list-style:none; align-items:center;
}
.ss-carousel > .dots > .slick-dots button{display:none;}
.ss-carousel > .dots li{
    position:relative; display:block; width:.75rem; height:.75rem; margin:0 .25rem; cursor:pointer;
    border:1px solid transparent; border-radius:.125rem; transition:background .3s;
}


/* Special Tags */
.ss-tags{width:100%; margin:.5rem 0;}
.ss-tags > .ss-tag{
    display:inline-block; min-width:5.5rem; font-size:.93775rem; padding:.125rem 1rem;
    border-radius:.1875rem; text-align:center; margin:.125rem 0; font-weight:300;
    text-decoration:none;
}
.ss-tags > .ss-tag::before{font-family:'DB Ozone X';}
.ss-tags > .ss-tag.type-1::before{content:'ฟันยิ่งดี';}
.ss-tags > .ss-tag.type-2::before{content:'COVID-19';}
.ss-tags > .ss-tag.type-3::before{content:'สารสุขชัวร์';}
.ss-tags > .ss-tag.type-4::before{content:'แม่เล็กเด็ก';}
.ss-tags > .ss-tag.type-5::before{content:'อนามัยวัยรุ่น';}
.ss-tags > .ss-tag.type-6::before{content:'อนามัยวัยทำงาน';}
.ss-tags > .ss-tag.type-7::before{content:'อนามัยผู้สูงอายุ';}
.ss-tags > .ss-tag.type-8::before{content:'โภชนาการ';}
.ss-tags > .ss-tag.type-9::before{content:'การออกกำลังกาย';}
.ss-tags > .ss-tag.type-10::before{content:'ทันตสาธารณะสุข';}
.ss-tags > .ss-tag.type-11::before{content:'อนามัยสิ่งแวดล้อม';}


/* List Header */
.list-header{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    padding:.125rem 0; margin:0 0 .5rem 0;
}
.list-header > .block, .list-header form{display:flex; align-items:center;}
.list-header .text-wrapper{text-align:center; font-size:1.25rem; padding:.375rem 0; font-weight:300;}
.list-header select, .list-header input[type=text]{
    border:1px solid transparent; box-shadow:none; outline:none; border-radius:.25rem;
    padding:.375rem 1.125rem .375rem .375rem; font-size:1.125rem; font-weight:300;
    margin:0; transition:border-color .3s;
}
.list-header select{margin:0 0 0 .25rem;}
.list-header input[type=text]{margin:0 .25rem 0 0;}
.list-header button[type=submit], .list-header .options > a{
    display:inline-block; width:2.225rem; height:2.225rem; border:0; text-align:center;
    line-height:2.225rem; font-size:1rem; margin:0;
}
.list-header .options > a{line-height:2.5rem;}
@media screen and (max-width:767.98px){
    .list-header{
        flex-wrap:wrap; justify-content:center; padding:.625rem 0; margin:0 0 1.5rem 0;
        border-top:1px solid transparent; border-bottom:1px solid transparent;
    }
    .list-header > .block, .list-header form{width:100%; justify-content:center;}
    .list-header .text-wrapper{width:100%;}
}

/* List Footer */
.list-footer{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    border-top:1px solid transparent; padding:.125rem 0; margin:1.875rem 0 0 0;
}
.list-footer > .block{display:flex; align-items:center;}
.list-footer .pagination{margin:0;}
.list-footer .text-wrapper{text-align:center; font-size:1.25rem; padding:.375rem 0; font-weight:300;}
.list-footer select{
    border:1px solid transparent; box-shadow:none; outline:none; border-radius:.25rem;
    padding:.375rem 1.125rem .375rem .375rem; font-size:1.125rem; font-weight:300;
    margin:0 0 0 .25rem; transition:border-color .3s;
}
@media screen and (max-width:767.98px){
    .list-footer{
        flex-wrap:wrap; justify-content:center; padding:.625rem 0; margin:1.5rem 0 0 0;
        border-bottom:1px solid transparent;
    }
    .list-footer > .block{width:100%;}
    .list-footer .text-wrapper{width:100%;}
}
