/* Reset */
html, body{
    padding:0; margin:0; overflow-x:hidden; overflow-y:auto; font-family:'DB HEAVENT', sans-serif;
    font-size:16px; font-weight:300; line-height:1.1; color:#000;
}
body.loading{height:100vh!important; overflow-y:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{transition:opacity .25s, color .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline; color:#f1b500; font-weight:400;}
a.link:hover{color:#fff;}

img.img{display:block; width:100%; height:auto;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}

i.zmdi{transform:translateY(.0625rem);}
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea, button{
    font-family:'DB HEAVENT', sans-serif;
}
@media screen and (max-width:991.98px){
    html.sidenav-opened, body.sidenav-opened{overflow-y:hidden!important;}
}


/* Section */
.section-padding{padding:4rem 0 5rem 0;}

/* Container */
.container{width:1240px; margin-left:auto; margin-right:auto;}
@media screen and (max-width:1299.98px){
    .container{width:1140px;}
}
@media screen and (max-width:1199.98px){
    .container{width:960px;}
}
@media screen and (max-width:991.98px){
    .container{width:720px;}
}
@media screen and (max-width:767.98px){
    .container{width:540px;}
}
@media screen and (max-width:575.98px){
    .container{width:calc(100% - 30px);}
}



/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p{margin:0; font-weight:300;}
h1, .h1{font-size:5.25rem; font-weight:600; line-height:.9;}
h2, .h2{font-size:4.5625rem; font-weight:600; line-height:1;}
h3, .h3{font-size:3rem; font-weight:200; margin:0 0 .25rem 0;}
h4, .h4{font-size:2.0625rem; font-weight:500;}
h5, .h5{font-size:1.625rem; font-weight:300;}
h6, .h6{font-size:1.5rem; font-weight:300;}
p, .p{font-size:1.25rem; font-weight:300;}

.text-xs{font-size:80%;}
.text-sm{font-size:90%;}


/* Colors */
.color-white{color:#fff!important;}
.color-black{color:#000!important;}
.color-sgray{color:#f2f2f2!important;}
.color-01{color:#e59d2b!important;}
.color-02{color:#e7a439!important;}

.bg-white{background:#fff!important;}
.bg-black{background:#000!important;}
.bg-sgray{background:#f2f2f2!important;}
.bg-01{background:#e59d2b!important;}
.bg-02{background:#e7a439!important;}


/* Buttons */
.btns{width:100%; margin:1.5rem 0 0 0; text-align:center;}
.btn{
    position:relative; display:inline-block; width:9.875rem; text-align:center; padding:.625rem 0;
    font-size:1.25rem; font-weight:300; border-radius:.25rem; box-shadow:none; color:#000;
    line-height:1.1; border:2px solid #d9d9d9; background:#f5f5f5; transition:all .25s;
}
.btn:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.1);}

.btn.btn-primary{color:#fff; background:#f1b500; border-color:#f1b500;}
.btn.btn-primary:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn.btn-primary:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.1);}

.btn.btn-ss{
    border-color:transparent; background:url('../img/hero/01.png') center/auto 105% no-repeat;
    color:#fff; box-shadow:none!important; border:0; overflow:hidden;
}
.btn.btn-ss > span{position:relative;}
.btn.btn-ss::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    background:url('../img/hero/04.png') center/auto 102% no-repeat; transition:opacity .25s;
}
.btn.btn-ss:hover::before, .btn.btn-ss.active::before, .tab.active > .btn.btn-ss::before{opacity:1;}

.btn.btn-ss-02{background:url('../img/hero/02.png') center/auto 102% no-repeat;}

.btn.btn-ss-03{background:url('../img/hero/03.png') center/auto 102% no-repeat; color:#000;}
.btn.btn-ss-03:hover{color:#fff;}

.btn.btn-ss-04{background:url('../img/hero/04.png') center/auto 102% no-repeat; color:#000;}
.btn.btn-ss-04:hover{color:#fff;}

.btn.btn-round{border-radius:1000em;}
.btn.btn-sm{width:6.5rem; padding:.4375rem 0; font-size:1.125rem;}

/* Button Circle */
.btn-circle{
    position:relative; display:inline-block; width:1.3125rem; height:1.3125rem;
    line-height:1.25rem; padding:0; font-size:1.25rem; font-weight:400; border-radius:50%; 
    color:#000; border:0; text-align:center; box-shadow:0 0 2px 1px rgba(0,0,0,.1);
    background:#fff; margin:0 0 0 .25rem; transition:all .25s;
}
.btn-circle:hover, .btn-circle:active{background:#f9f9f9;}

.btn-circle.dark{background:#232323; color:#fff;}
.btn-circle.dark:hover, .btn-circle.dark:active{background:#000;}

.btn-circle.white{box-shadow:none;}
.btn-circle.white:hover, .btn-circle.white:active{background:#f9f9f9;}

.btn-circle.btn-theme-1{background:#232323; color:#dfa710;}
.btn-circle.btn-theme-1:hover, .btn-circle.btn-theme-1:active{background:#000;}
.btn-circle.btn-theme-2{background:#232323; color:#0dcaf3;}
.btn-circle.btn-theme-2:hover, .btn-circle.btn-theme-2:active{background:#000;}

.btn-circle > .img-fill{position:absolute; top:0; bottom:0; left:0; right:0; border-radius:50%;}
.btn-circle.inactive{filter:grayscale(100%);}
.btn-circle.inactive:hover{filter:grayscale(0%);}


/* Hamburger */
.hamburger{cursor:pointer;}
.hamburger > *{width:2rem; height:.14rem; transition:all .5s;}
.hamburger > *:nth-child(2){margin:.375rem 0;}
.hamburger.active > *:nth-child(1){
    -webkit-transform:rotate(-45deg)translate(-.375rem, .375rem);
    transform:rotate(-45deg)translate(-.375rem, .375rem);
}
.hamburger.active > *:nth-child(2){opacity:0;}
.hamburger.active > *:nth-child(3){
    -webkit-transform:rotate(45deg)translate(-.375rem,-.375rem);
    transform:rotate(45deg)translate(-.375rem, -.375rem);
}


/* Special Card */
.ss-card{
    display:block; position:relative; width:100%; background:#fff; color:#000;
    box-shadow:rgba(0,0,0,.02) 0px 5px 10px; transform-origin:top center;
    transition:all .3s;
}
.ss-card:hover{background:#1e222f; color:#fff; transform:scale(1.1); z-index:1;}
.ss-card .text-wrapper{width:100%; padding:1rem .25rem;}
.ss-card .title{font-size:1.375rem; font-weight:600;}
.ss-card .desc{font-size:1.1875rem; margin:.125rem 0 0 0;}
.ss-card .date{font-size:1.125rem; margin:1rem 0 0 0;}

/* Special Card 02 */
.ss-card-02{
    display:block; position:relative; width:100%; background:#fff; color:#000;
    transform-origin:top center; transition:box-shadow .3s;
}
.ss-card-02:hover{box-shadow:rgba(0,0,0,.15) 0px 15px 30px;}
.ss-card-02 .text-wrapper{position:relative; width:100%; padding:1rem .25rem; background:#fff;}
.ss-card-02 .title{font-size:1.375rem; font-weight:600;}
.ss-card-02 .desc{font-size:1.1875rem; margin:.125rem 0 0 0;}
.ss-card-02 .date{font-size:1.125rem; margin:1rem 0 0 0;}


/* Special Image */
.ss-img{display:block; position:relative; width:100%; padding:60% 0 0 0;}
.ss-img.horizontal{padding:50% 0 0 0;}
.ss-img > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.ss-img .expand-icon{display:block; position:absolute; top:.6875rem; right:.6875rem;}
.ss-img .expand-icon > img{display:block; width:1.5625rem; height:auto;}


/* Special List */
ul.ss-list{list-style:none; padding:0; margin:0;}
ul.ss-list > li{
    font-size:1.3125rem; font-weight:200; position:relative; padding:.125rem 0 .125rem 1.125rem;
}
ul.ss-list > li > a{color:#fff;}
ul.ss-list > li:hover > a{color:#e9aa11;}
ul.ss-list > li::before{
    content:''; position:absolute; top:.75rem; left:0; width:.375rem; height:.375rem;
    background:#e9aa11;
}

/* Special List 02 */
ul.ss-list-02{list-style:none; padding:0; margin:.25rem 0;}
ul.ss-list-02 > li{
    font-size:1.25rem; font-weight:200; position:relative; padding:.0625rem 0 .0625rem 1.5rem;
}
ul.ss-list-02 > li > a{color:#b8b8b8;}
ul.ss-list-02 > li:hover > a{color:#e9aa11;}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{display:none; position:relative; padding:0; margin:0;}
.tab-container .tab-content.active{display:block;}


/* Utility */
.b-radius{border-radius:.3125rem;}
.b-all{border:1.5px solid transparent;}
.b-top{border-top:1.5px solid transparent;}
.b-bottom{border-bottom:1.5px solid transparent;}
.b-bottom-dashed{border-bottom:1.5px dashed transparent;}

.border{border:1.5px solid #dee2e6!important;}
.border:focus{border-color:#ba9443!important;}

.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.fw-wrap{flex-wrap:wrap!important;}

.w-auto{width:auto!important;}
.w-full{width:100%!important; max-width:100%!important;}
.h-auto{height:auto!important;}

.position-relative{position:relative;}
.position-absolute{position:absolute;}

.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}

.overflow-hidden{overflow:hidden;}

.ws-nowrap, .ws-no-wrap{white-space:nowrap!important;}

.no-br > br{display:none;}
@media screen and (max-width:1199.98px){
    .lg-no-br > br{display:none;}
}
@media screen and (max-width:991.98px){
    .md-no-br > br{display:none;}
}
@media screen and (max-width:767.98px){
    .sm-no-br > br{display:none;}
}
@media screen and (max-width:575.98px){
    .xs-no-br > br{display:none;}
}

.mt-0{margin-top:0!important;}
.mt-05{margin-top:.5rem!important;}
.mt-10{margin-top:1rem!important;}
